    <footer>
        <nav class="nav-footer">
            <a href="/"><img src="../../img/logo-text.png" width="120px" height="120px"></a>
            <p class="texto-footer">Lorem ipsum dolor sit amet consectetur. Et sed neque sed ut enim. Ullamcorper massa ut cursus.</p>
            <ul class="nav-lista-footer">

                <li class="nav-item-footer"><a class="nav-link-footer" href="">Siga-nos</a></li>

                <li class="nav-item-footer">

                    <div class="dropdown-footer">

                        <div class="item-drop-main">
                            <i class="fa-solid fa-globe"></i>
                                Português 
                                    <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        
                        <div class="drop-content-footer">
                            <div class="elemento-drop-footer">
                                <p>Inglês</p>
                            </div>
                        </div>

                    </div>


                </li>
                <li class="nav-item-footer">CRECI 2583</li>
            </ul>
        </nav>
        <hr class="linha">
        <p class="texto-footer end">© 2023 House&Lar. Todos Os Direitos Reservados.</p>
    </footer>