<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template e-mail</title>
    <style>
        * {
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }

        body {
            box-sizing: border-box;
        }

        @media only screen and (max-width: 480px) {
            .header{
                width: 85%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 24px;
                gap: 16px;
            }
            .header > img{
                width: 10%;
            }
            .container1 {
                background-color: white;
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
            }
            .title{
                width: 85%;
                height: 10%;
                border-radius: 6px;
                background-color: #ffe6f4;
                color: #9D0058;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 20px;
                font-weight: 600;
                padding-left: 24px;
                
            }
            .bodyEmail{
                width: 85%;
                display: flex;
                flex-direction: column;
                gap: 32px;
                justify-content: flex-start;
                padding-left: 24px;
            }
            .bodyEmail > h1{
                font-size: 24px;
                color: rgb(29, 29, 29);
            }
            .contentEmail {
                color: rgb(66, 66, 66);
                padding-right: 24px;
            }
            .linkImovel{
                color: white;
                font-weight: 600;
                padding: 12px 16px;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #9D0058;
                text-decoration: none;
                width: fit-content;
            }
            .footer{
                width: 85%;
                height: 10%;
                padding-left: 24px;
                padding-top: 32px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .footer > p{
                font-size: 14px;
                color: rgb(80, 80, 80);
            }
            .ctaSocialMedia{
                text-decoration: none;
                width: fit-content;
                font-size: 14px;
                padding: 8px 12px;
                border-radius: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                border: 1px solid black;
                color: black !important;
            }
        }
    </style>
</head>

<body>
    {{#if solicitacaoPublicada}}
    <div class="container1">
        <div class="header">
            <img src="../../img/logo_icon.png" alt="">
            <h5>House&Lar Imobiliária</h5>
        </div>
        <div class="title">
            Solicitação Aceita: {{idSoli}}
        </div>
        <div class="bodyEmail">
            <h1>
                Olá, {{nome_prop}}.                
            </h1>
            <p class="contentEmail">
                O seu imóvel foi revisado e aceito pela corretora responsável. 
                Você já pode vê-lo publicado clicando em Ver Meu Imóvel:
            </p>
            <a class="linkImovel" href="/public/detalheImovel/{{idImovel}}" target="_blank">
                Ver Meu Imóvel
            </a>
        </div>
        <div class="footer">
            <p>House&Lar CRECI: 2583</p>
            <a class="ctaSocialMedia" href="https://www.instagram.com/houselarimoveis/">
                <iconify-icon icon="mdi:instagram"></iconify-icon>
                Nos siga
            </a>
        </div>
    </div>
    {{/if}}


    {{#if solicitacaoRejeitada}}
    <h1>Solicitação rejeitada</h1>

    {{/if}}

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>