<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <script src="https://kit.fontawesome.com/5181988b4b.js" crossorigin="anonymous"></script>
    <title>House e Lar</title>
</head>
<body>
    {{!-- Header --}}
    <header>
        <nav class="navegacao">
            <a href="/"><img src="../../img/logo_icon.png" width="60%" height="50%"></a>
            <ul class="nav-lista">
                <li class="pagina-inicial nav-item"><a href="/">P치gina Inicial</a></li>
                <li class="nav-item">
                    <div class="dropdown">
                        Buscar im칩veis <i class="fa-solid fa-chevron-down"></i>
                            <div class="dropdown-content">
                                <div class="elemento-drop"> <a href="/"> Comprar </a> </div>
                                <div class="elemento-drop"> <a href="/"> Alugar </a>  </div>
                            </div>
                    </div>
                </li>

                <li class="publicar nav-item">
                    <a href="/">Publicar</a>
                </li>
                
                <li class="nav-item">
                    <div class="dropdown">
                        A imobili치ria <i class="fa-solid fa-chevron-down"></i>
                            <div class="dropdown-content">
                                <div class="elemento-drop"> <a href="/sobrenos"> Sobre n칩s </a> </div>
                                <div class="elemento-drop"> <a href="/faleconosco"> Fale Conosco </a>  </div>
                            </div>
                    </div>
                </li>

                <li style="font-weight: 600;" class="log-in nav-item">
                    <a href="/login"> <i class="fa-solid fa-arrow-right-to-bracket"></i> Log in  </a>
                </li>
            </ul>
            <div class="hamburguer">
                <div class="barra"></div>
                <div class="barra"></div>
                <div class="barra"></div>
            </div>
        </nav>
    </header>
    
    
    {{{body}}}
    
  
    <script src="../../js/main.js"></script>
</body>
</html>