<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/painelControle.css">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{!-- Menu Lateral --}}
    <aside id="aside">
        <div class="container1">

            <img src="../../img/logo_icon.png" width="60px">

            <div class="nav-menu">
                <p>MENU</p>
                <div class="nav-lista-menu" id="nav-lista-menu">

                    <a href="/painelControle" class="nav-item-menu"  id="nav-item-menu">
                        <iconify-icon icon="heroicons:building-office"></iconify-icon>
                        Imóveis
                    </a>

                    <a class="nav-item-menu" href="/solicitacoes" id="nav-item-menu">
                            <iconify-icon icon="charm:git-request"></iconify-icon>
                            Solicitações
                    </a>

                    <a class="nav-item-menu" href="/calendario" id="nav-item-menu">
                            <iconify-icon icon="lucide:calendar"></iconify-icon>
                            Calendário
                    </a>

                    <a class="nav-item-menu" href="/mensagens" id="nav-item-menu">
                            <iconify-icon icon="majesticons:chat-line"></iconify-icon>
                            Mensagens
                    </a>

                    <a class="nav-item-menu" href="/noticiasCorretor" id="nav-item-menu">
                            <iconify-icon icon="tabler:news"></iconify-icon>
                            Notícias
                    </a>

                    <a class="nav-item-menu" onclick="" id="nav-item-menu">
                            <iconify-icon icon="iconoir:profile-circle"></iconify-icon>
                            Seu perfil
                    </a>

                </div>
            </div>
        </div>
        <button class="sair" id="sair">
            <iconify-icon icon="ph:sign-out"></iconify-icon>
            Sair
        </button>
    </aside>

    <main>
        {{{body}}}
    </main>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="../../js/painelControle.js"></script>
</body>
</html>