.main{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: start;
    padding-top: 90px;
    gap: 80px;
}

#publicacao {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#colunas{
    display: flex;
    /* padding-left: 5%; */
    gap: 16%;
}

#continuar {
    display: flex;
    width: 86%;
    height: 100%;
    justify-content: flex-end;
    align-items: end;
    padding-left: 2%;
}

#botao {
    display: flex;
    height: 28%;
    width: 18%;
    border-radius: 8px;
    background-color: #9D0058;
    color: #FFFFFF;
    border: none;
    padding: 0% 2% 0% 2%;
    align-items: center;
    justify-content: space-around;
}

#flecha-continuar {
    width: 20%;
}

.info {
    height: 40%;
    width: 140%;
    border-radius: 7px;
    padding: 0% 5%;
    border-width: thin;
    margin-top: 2%;
}

#etapas {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 11% 11% 0% 0%;

}

#titulo {
    display: flex;
    align-items: center;
}

#pessoa {
    height: 5%;
}

h4 {
    font-weight: 400;
}

.etapa {
    display: flex;
    align-items: center;
    width: 110%;
}

.check {
    width: 13%;
    padding: 0% 5% 0% 0%;
}

/* Alterado - removido espaçamento*/


.cinza {
    color: #5B5B5B;
}

label {
    font-size: small;
}

/* teste */

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    padding: 0 80px;
    align-items: center;
    justify-content: center;
}

.publicacao{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.legenda{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.legenda > :last-child{
    width: 600px;
}

.legenda > p{
    margin: 0;
}

.legenda > .legenda-etapa{
    font-size: 38px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
}

.botoes > button{
    float: right;
    background-color: #9D0058;
    color: WHITE;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 14px;
}


.etapas{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.etapas > .etapa{
    gap: 12px;
    color: rgb(126, 126, 126);
}
.etapas > .etapa > .icon, .bar-mobile > .etapa-bar > .icon{
    border-radius: 100%;
    border: 1px solid rgb(126, 126, 126);
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pegando a primeira etapa para preencher */
.etapas > :nth-child(6){
    color: black;
    font-weight: 500;
}

.etapas > :nth-child(6) > .icon, .bar-mobile > :nth-child(6) > .icon{
    border: 1px solid rgb(0, 0, 0);
}

.etapas > :nth-child(-n+5){
    color: #00833C;
    font-weight: 500;
}

.etapas > :nth-child(-n+5) > .icon, .bar-mobile > :nth-child(-n+5) > .icon{
    background-color: #00833C;
    color: #FFFFFF;
}

.etapa-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Progress bar mobile */

.bar-mobile{
    display: none;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #B8B8B8;
    border-radius: 8px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon > iconify-icon{
    font-size: 12px;
}

.barra-vertical{
    background-color: #B8B8B8;
    width: 1px;
    height: 50%;
}

#direcao {
    display: flex;
}

#voltar {
    padding-right: 50%;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    height: 150%;
    padding-left: 15%;
}

#botaovoltar {
    background-color: #989898;
    color: #FFFFFF;
    padding-right: 40%;
}

#flechavoltar {
    padding-left: 15%;
    padding-right: 15%;
}

#botaocontinuar {
    background-color: #9D0058;
    color: #FFFFFF;
    padding-left: 25%;
}

#flechacontinuar {
    padding-left: 5%;
    padding-right: 10%;
}

#form {
    width: 100%;
}

.formulario {
    width: 600px;
}

.formulario > form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.formulario > form > div{
    display: flex;
    flex-direction: column;
    width: calc((100% / 2) - 10px);
}

.formulario > form > div > input{
    border: none;
    margin-top: 2%;
}

.formulario > form > div > select{
    width: 25%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    border-color: #D9D9D9;
    margin-top: 3%;
    font-size: small;
}

.formulario > form > div > label {
    font-weight: bold;
}
