

/* body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 90%;
    height: 1024px;
    overflow: hidden;
} */

#topo {
    display: flex;
    justify-content: space-between;
    height: 5em;
    width: 100%;
}

#filtros-opcoes {
    display: flex;
    flex-direction: column;
}

#barra-filtro {
    width: 30%;
    height: 100%;
}

#conteudo {
    display: flex;
    width: 100%;
}

.info-movel {
    display: flex;
    height: 100%;
    width: 95%;
    margin-left: 5%;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    gap: 1%;
    margin-bottom: 2%;
}

.infoImovelBloco{
    display: none;
    flex-direction: column;
    width: calc(100% / 3 - 10px);
    justify-content: space-evenly;
}

.imgInfoBloco{
    width: 100%;
    height: 40%;
    background-color: red;
}


h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
}

.escrita-imovel {
    margin-top: 8%;
}

#imoveis {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 100%;
    justify-content: center;
}

#venda-imovel {
    text-align: right;
}

.mini-info {
    display: flex;
    align-items: center;
    width: 107px;
}

.escrita-cinza {
    color: #878787;
}

#valor {
    color: #9D0058;
}

#detalhe-imovel {
    display: flex;
    height: 10%;
    margin-right: 5%;
}

.icone {
    margin-right: 5%;
}

#imovel-meio {
    width: 45%;
}

#botao-venda {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 80%;
    height: 17%;
    margin-bottom: 100%;
}

.teto {
    margin-top: 1%;
}

#imagem-venda {
    border-radius: 8px 0 0 8px;
    width: 23%;
}

#info-direita {
    display: flex;
    width: 100%;
    gap: 30%;
}

.botoes-topo {
    display: flex;
    height: 50%;
}

.botao-estilo {
    border: none;
    background-color: #FFFFFF;
    color: #212121;
}

.botao-direito {
    border: 1px solid #E7E7E7;
    border-radius: 0 8px 8px 0;
}

.botao-esquerdo {
    border: 1px solid #E7E7E7;
    border-radius: 8px 0 0 8px;
}

.selecionad {
    background-color: #9D0058;
    color: #FFFFFF;
    border-radius: 8px 0 0 8px;
}

.selecionado {
    background-color: #9D0058;
    color: #FFFFFF;
    border-radius: 0 8px 8px 0;
}

#titulo-conteudo {
    margin-bottom: 15px;
}

.tipo-botao {
    display: flex;
    border: 1px solid #E7E7E7;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    height: 2.8em;
    width: 60%;
    border-radius: 8px;
    gap: 5%;
    margin-bottom: 5%;
}

.seleciona {
    border-color: #9D0058;
    color: #9D0058;
    background-color: #FFE3F3;
}

#tipo-botoes {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.pesquisa {
    border: none;
    background-color: #FFFFFF;
    color: #A0A0A0;
    outline: none;
}

#pesquisa-cidade {
    display: flex;
    border: 1px solid #A0A0A0;
    width: 93%;
    justify-content: space-between;
    height: 3em;
    border-radius: 5px;
    margin-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
}

.select-opcao {
    border: none;
    width: 93%;
    font-weight: bold;
    color: #676767;
    margin-bottom: 3%;
    outline: none;
}

.label-quantidade {
    font-size: small;
    font-weight: bold;
    color: #676767;
    margin-left: 1.5%;
}

.caixa-quantidade {
    height: 21%;
}

.inputs-quantidade {
    display: flex;
    width: 97%;
    gap: 3%;
    margin-left: 1.5%;
    height: 3em;
    margin-top: 4%;
}

.input-quantidade {
    width: 47%;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    display: flex;
    padding-left: 3%;
    outline: none;
}

.input-quantidade::placeholder {
    font-size: smaller;
}

#quantidades-um {
    margin-bottom: 3%;
}