button{
  cursor: pointer;
}

.cabecalho-edicao{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

hr{
  border: 1px solid #EBEBEB;
}

.container {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.container .titulo-pagina {
  text-indent: 25px;
  margin-top: 40px;
  margin-bottom: 24px;
}

.calendar {
  width: 100%;
 
}
.calendar .header {
  justify-content: space-between;
  align-items: center;
  text-indent: 15px;
}
.calendar .header .month {
  display: flex;
  align-items: flex-start;
  font-weight: 600;
  justify-content: flex-start;
  color: var(--text-color);
}

.header #botao {
 
  height: 28%;
  border-radius: 10px;
  background-color:  #9d0058;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
 
  

}
#icone{
color: white;
font-size: 16px

}

.calendar .header .btns {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
}
.calendar .header .continuar {
    display: flex;
    border-radius: 12px;
    background-color: #9d0058;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
}


.days{
  background-color: white;
}
.days .day.next,
.days .day.prev {
  color: #ccc;
}


.weekdays {
  display: flex;
  gap: 10px;
  border-top:1px solid #EBEBEB;
  padding: 8px 0;
}
.weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.days {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.days .day {
  width: calc(100% /  7 - 7px);
  height: 100px;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
  background-color: #fff;
  transition: all 0.3s;
  align-items: flex-start;
  text-indent: 15px;

}

.days .day:not(.next):not(.prev):hover {
  background-color: #ebccde;
  color:rgb(34, 30, 30)
}
.days .day.today {
  color:rgb(34, 30, 30)
}

.day.today > p{
  background-color: #9d0058;
  color: white;
  border-radius: 0 4px 4px 0;
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: center;
}