button{
  cursor: pointer;
}

.cabecalho-edicao{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

hr{
  border: 1px solid #EBEBEB;
}

.container {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.container .titulo-pagina {
  text-indent: 25px;
  margin-top: 40px;
  margin-bottom: 24px;
}

.calendar {
  width: 100%;
 
}
.calendar .header {
  justify-content: space-between;
  align-items: center;
  text-indent: 15px;
}
.calendar .header .month {
  display: flex;
  align-items: flex-start;
  font-weight: 600;
  justify-content: flex-start;
  color: var(--text-color);
}

.header #botao {
 
  height: 28%;
  border-radius: 10px;
  background-color:  #9d0058;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
 
  

}
#icone{
color: white;
font-size: 16px

}

.calendar .header .btns {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
}
.calendar .header .continuar {
    display: flex;
    border-radius: 12px;
    background-color: #9d0058;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px 12px;
}


.days{
  background-color: white;
}
.days .day.next,
.days .day.prev {
  color: #ccc;
}


.weekdays {
  display: flex;
  gap: 10px;
  border-top:1px solid #EBEBEB;
  padding: 8px 0;
}
.weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.days {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.days .day {
  width: calc(100% /  7 - 7px);
  height: 100px;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
  background-color: #fff;
  transition: all 0.3s;
  align-items: flex-start;
  text-indent: 15px;

}

.days .day:not(.next):not(.prev):hover {
  background-color: #ebccde;
  color:rgb(34, 30, 30)
}
.days .day.today {
  color:rgb(34, 30, 30)
}

.day.today > p{
  background-color: #9d0058;
  color: white;
  border-radius: 0 4px 4px 0;
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: center;
}


/* EDITAR AGENDA */
/* NÃO ESTÁ RESPONSIVO!!!!!!!!!1 */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;500&display=swap');

:root {
    --margem-geral: 2%;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.containerEditar{
  display: none;
  align-items:flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 48px 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  overflow: scroll;
}

.conteudoEditar{
  padding: 32px 32px;
  width: fit-content;
  background-color: white;
  border-radius: 12px;
}


#testando{
  width:600px;
}


#inicio-agendar{
  display: flex;
 /* margin-left: var(--margem-geral);
  margin-top:  var(--margem-geral);
  margin-bottom: var(--margem-geral);*/
}

#inicio-agendar #div-button{
  margin-left: auto;
 /* margin-right: var(--margem-geral);*/
}

#inicio-agendar button{
  background-color: white;
  border-radius: 4px;
  border: 1px solid #CECECE;
  width: 40px;
  height: 40px;  
  min-width: 40px;
  min-height: 40px;
}

#inicio-agendar button #icone-fechar{
  font-size: 24px;
  margin-top: 16%;
}

#agendar-visita h2{
  font-size: 24px;
  font-weight: 500;
}

#agendar-visita p{
  color: #515151; 
  font-size: 16px; 
  font-weight: 400;
}

#data{
 /* margin-left: var(--margem-geral);*/
  margin-bottom: 3%;
}

#data h3{
  font-size: 20px;
  font-weight: 400; 
}

#data p{
  color: #515151; 
  font-size: 16px;
  font-weight: 400; 
}

#data #calendario-mes{
color: black;
font-size: 20px;
/*margin-top: var(--margem-geral);*/
}

#horario{
  /*margin-left: var(--margem-geral);*/
  margin-bottom: 4%;
}

#horario h3{
  font-size: 20px;
  font-weight: 400; 
}

#horario p{
  color: #515151;
  font-size: 16px;
  font-weight: 400; 
}

#horario #conteiner{
position: relative;
}

#horario #conteiner #icone-relogio{
position: absolute;
margin-top: 1%;
margin-left: 1%;
font-size: 17px;
font-weight: bold;
color: black;
}

#horario select{
  width: 230px;
  padding-left: 4%;
  font-size: 14px;
}





/* <---- Estilização do Calendário ----> */

.wrapper{
width: 58%;
background: #fff;
border-radius: 20px;
box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
display: flex;
padding: 25px 30px 10px;
justify-content: center;
}
header .icons{
display: flex;
}
header .icons span{
height: 38px;
width: 38px;
margin: 0 1px;
cursor: pointer;
color: #878787;
text-align: center;
line-height: 38px;
font-size: 40px;
font-weight: 210;
user-select: none;
border-radius: 50%;
color: black;
}
.icons span:last-child{
margin-right: -10px;
}
header .icons span:hover{
background: #f2f2f2;
}
header .current-date{
font-size: 20px;
font-weight: 500;

}
.calendar{
padding: 20px;
}
.calendar ul{
display: flex;
flex-wrap: wrap;
list-style: none;
text-align: center;
}
.calendar .days2{
margin-bottom: 20px;
}
.calendar li{
color: #333;
width: calc(100% / 7);
font-size: 1.07rem;
}
.calendar .weeks li{
font-weight: 500;
cursor: default;
}
.calendar .days2 li{
z-index: 1;
cursor: pointer;
position: relative;
margin-top: 30px;
}
.days2 li.inactive{
color: #aaa;
}
.days2 li.active{
color: #fff;
}
.days2 li::before{
position: absolute;
content: "";
left: 50%;
top: 50%;
height: 40px;
width: 40px;
z-index: -1;
border-radius: 4px; 
transform: translate(-50%, -50%);
}
.days2 li.active::before{
background: #9D0058;
}
.days2 li:not(.active):hover::before{
background: #f2f2f2;
}
.containerEditar .testedia{
display: grid;
margin: 2%;
grid-gap: 15px;
grid-template-columns: [left] 1fr [middle1] 1fr [middle2] 1fr [right]

}
 #botao-submit4 button{
background-color: #faf6f8;
color: #333;
display: flex;
cursor: pointer;
width: 95%;
padding: 1% 2%;
justify-content: center;
align-items: center;
}

.containerEditar #botao-submit4 button:hover
{
background-color: #9D0058;
color: #f2f2f2;
}
#botao-submit4 button:focus{
background-color: #9D0058;
color: #f2f2f2;
}
#botao-submit2 button{
display: flex;
width: 25%;
padding: 1% 2%;
justify-content: center;
align-items: center;
gap: 11%;
margin-left: var(--margem-geral);
background-color: #9D0058;
}
#Salvar{
font-size: 150%;

}





/*            VER VISITAS           */

.containerVisitas{
  display: none;
  align-items:flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 48px 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  overflow: scroll;
}

.conteudoVisitas{
  padding: 32px 32px;
  width: fit-content;
  background-color: white;
  border-radius: 16px;
}



/* EDIÇÃO DO MODAL */

/* NÃO ESTÁ RESPONSIVO!!!!!!!!!1 */
/* 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;500&display=swap');

:root {
    --margem-geral: 5%;
} */
/* 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

nav{
  width:fit-content;
}

.form-select{
  width: 15%;
  font-size: 14px;
  font-weight: 500; 
}

.mb-3{
  margin-right: 3%;
  min-width: 220px;
  width: 25%;
}

#inicio-agendar{
  display: flex;
  margin-left: var(--margem-geral);
  margin-top:  var(--margem-geral);
  margin-bottom: var(--margem-geral);
}

#inicio-agendar .modal-header{
  margin-left: auto;
  margin-right: var(--margem-geral);
}

#inicio-agendar button{
  background-color: white;
  border-radius: 4px;
  border: 1px solid #CECECE;
  width: 40px;
  height: 40px;  
  min-width: 40px;
  min-height: 40px;
}

#inicio-agendar button .btn-close{
  font-size: 24px;
  margin-top: 16%;
}


#lista{

color: #000;
margin-left: var(--margem-geral);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

#agendar-visita p{
color: #000;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



#horario{
  margin-left: var(--margem-geral);
  margin-bottom: 4%;
}

#horario h3{
  font-size: 20px;
  font-weight: 400; 
}

#horario p{
  color: #515151;
  font-size: 16px;
  font-weight: 400; 
}

#horario #conteiner{
position: relative;
}

#horario #conteiner #icone-relogio{
position: absolute;
margin-top: 1%;
margin-left: 1%;
font-size: 17px;
font-weight: bold;
color: black;
}

#horario select{
  width: 230px;
  padding-left: 7%;
  font-size: 14px;
}




.grid2{
display: grid;
margin-left: var(--margem-geral); 
flex-shrink: 0;


grid-template-columns: [left] 1fr [middle2] 1fr [right];
padding: 1px;
gap: 1px;
grid-gap: 1px;
padding-right: 45%;


}
.grid2 .item2 h1{
margin-left: var(--margem-geral); 
color: #1C1C1C;
width: 223px;
height: 68px;
flex-shrink: 0;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 12px 0px 0px 0px;


}
.grid2 #item3 h4{
  margin-left: var(--margem-geral); 
color: #1C1C1C;
width: 223px;
height: 68px;
flex-shrink: 0;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 12px 0px 0px 0px;

}
.grid2 #TESTE1{
  
width: 223px;
height: 68px;
flex-shrink: 0;


}
.grid2 .item2{
  color: #1C1C1C;
width: 287px;
height: 100%;
flex-shrink: 0;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 12px 0px 0px 0px;
border: 1px solid #D9D9D9;
background: #FFF;


}

.grid2 #item3 h3{
  margin-left: var(--margem-geral); 
color: #1C1C1C;
width: 223px;
height: 48px;
flex-shrink: 0;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 12px 0px 0px 0px;

}

.grid2 #item3{
   
color: #1C1C1C;
width: 287px;
height: 100%;
flex-shrink: 0;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 0px 12px 0px 0px;
border: 1px solid #D9D9D9;
background: #FFF;


}

.grid2 h1:hover{
      background: #F5F5F5;

}
  

