@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
    Definindo aspectos gerais dos documentos
*/
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*Inicializando o body*/
body{
    margin: 0;
    padding: 0;
}

main{
    padding: 60px 34px 34px; 
    overflow: visible;
}

/* Estilizando retorno das páginas */
.retorno{
    display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
}
.retorno > a{
    display: flex;
    align-items: center;
    gap: 8px;
}
.retorno > iconify-icon{
    color: black;
    font-size: 20px;
}
.retorno > span{
    color: #717171;
}
.retorno > a:visited{
    color: black;
}


/*Estilizando o header*/
header{
    min-height: 8vh;
    padding: 8px 0;
    margin-top: 20px;
}

li{
    list-style: none;
    margin: 0;
}
/*Estilizando os links*/
a{
    text-decoration: none !important;
    color:black !important;
}
a:visited{
    text-decoration: none !important;
}

/*Estilizando a nav*/
.navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

/*Estilizando a lista não ordenada*/
.nav-lista{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 0;
    padding: 0;
}


/*Estilizando os ícones*/
.nav-item > i, .nav-item > a > i{
    margin: 0 8px;
}
.nav-item > a:hover{
    color: #9D0058 !important;
    font-weight: 600 !important;
}


.dropdown > i{
    margin-left: 8px;
    margin-right: 8px;
}


/*Estilizando o dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    border-radius: 8px;
    padding: 4px 0px 8px 0px; /*top, right, bottom, left*/
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content > .elemento-drop{
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-block-start: 4px;
}

.dropdown-content > .elemento-drop:hover{
    background-color: #F9F9F9;
}

.dropdown-content > .elemento-drop > a{

    margin-left: 12px;
}

.elemento-drop > a{
    text-decoration: none;
    color: black;
}
.elemento-drop > a:visited{
    text-decoration: none;
    color: black;
}

.hamburguer{
    display: none;
    cursor: pointer;
}
.barra{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

/*Estilizando o footer*/

footer{
    margin-top: 120px;
}
.nav-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 0 34px; /*top, bottom, left, right*/

}
.nav-lista-footer{
    padding: 0;
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav-lista-footer > li, .nav-lista-footer > li > a{
    color: #505050;
}
.nav-item-footer{
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    border: 1px solid #DFDFDF;  
    font-size: 12px;
}

.linha{
    border-color:  #000000;
    opacity: 0.2;
    width: 100vw;
}
.texto-footer{
    font-size: 12px;
    width: 420px;
    color: #505050;
}
.texto-footer.end{
    margin: 16px auto;
    width: fit-content;
    
}

/*Estilizando dropdown footer*/
.dropdown-footer{
    width: 100%;
}
.nav-lista-footer> :nth-child(2){
    padding: 0;
    border: none;
    border-radius: 0;
}
.item-drop-main{
    height: 40px;
    padding: 0 32px;
    border: 1px solid #DFDFDF; 
    border-radius: 1000px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.drop-content-footer{
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #DFDFDF; 
    border-radius: 100px;
    background-color: white;
    z-index: 1;
    margin-top: 2px;
    position: absolute;
    width: 14em;
    height: 40px;
}
.dropdown-footer:hover .drop-content-footer{
    display: flex;
}
.elemento-drop-footer{
    width: calc(100% - 16px);
    height: calc(40px - 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.elemento-drop-footer > p{
    margin: 0;
}
.drop-content-footer > .elemento-drop-footer:hover{
    background-color: #F9F9F9;
    font-weight: 600;
}




@media (max-width: 768px){

    /*Estilizando o nav bar responsivo*/
    .hamburguer{
        display: block;
    }
    .hamburguer.active .barra:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .barra:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .barra:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-lista{
        position: fixed;
        left: -100%; /*Esconde o menu temporariamente*/
        top: 6vh;
        gap: 0;
        border-radius: 0 0 12px 12px;
        background-color:  rgb(255, 255, 255);
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-lista.active{
        left: 0;
        padding-left: 0;
    }
    .dropdown {
        position: relative;
        display: inline-block;
      }
    .dropdown-content {
        display: none;
        position:unset;
        background-color: #ffffff;
        width: 100vw;
        box-shadow:none;
        padding: 12px 16px;
        margin-top: 8px;
        border-radius: 0;
        
      }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    .elemento-drop{
        justify-content: center;
    }
    .dropdown-content > .elemento-drop:hover{
        background-color: #F9F9F9;
    }

    /*Estilizando o footer responsivo*/

    .nav-lista-footer {
        padding: 0;
        display: flex;
        align-items: center;
        gap: 32px;
        margin: 0;
    }

    .nav-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        padding: 0 34px;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
    .texto-footer {
        margin: 0;
    }
}

@media (max-width: 425px){

    /*Estilizando footer*/
    .texto-footer{
        text-align: center;
    }
    .nav-lista-footer {
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

