/* MAIN */

.header-area{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
}


.title-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-header > p{
    font-size: 28px;
    margin: 0 !important;
    font-weight: 500;
}
.title-header > a {
    padding: 12px;
    border-radius: 12px;
    color: white !important;
    background: #9D0058;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.title-header > a > iconify-icon{
    font-size: 20px;
}


.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-header > .sessions{
    display: flex;
    align-items: center;
}
.navbar-header > .sessions > .session{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 3px solid #9D0058; */
    border-bottom: none;
    gap: 12px;
    cursor: pointer;
    font-weight: 500;
    color: #767676;
}
.navbar-header > .sessions > .session > span{
    padding: 4px 8px;
    background: #F3F3F3;
    color: #767676;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.search{
    display: flex;
    gap: 16px;
    align-items: center;
}
.input-search{
    position: relative;
}
.input-search > iconify-icon{
    color: rgba(128, 128, 128, 1);
    font-size: 18px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.search > .input-search > input{
    font-size: 14px;
    padding: 8px 30px 8px 8px;
    border-radius: 6px;
    border: 1px solid #D1D1D1;
}

.dropdown-filter{
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    z-index: 1;
}
.main-dropdown{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid black;
    padding: 8px 18px;
}
.main-dropdown > iconify-icon{
    font-size: 22px;
}

.dropdown-filter:hover .body-dropdown{
    display: flex;
}


.body-dropdown{
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
    background-color: white;
    width: 100%;
    top: 46px;
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 6px;
    padding: 8px 0;
    border-radius: 5px;
}

.body-dropdown > .option{
    width: 100%;
    padding: 12px;
    cursor: pointer;
}
.body-dropdown > .option:hover{
    background-color: #e4e4e4;
}


#noticiasPublicadas{
    display: none;
}
#noticiasDesativadas{
    display: none;
}

.noticias{
    width: 100%;
    height: 100%;
    padding: 0 40px;
    flex-direction: column;
    gap: 16px;
}

.card-noticia{
    border-radius: 16px;
    border: 1px solid #E2E2E2;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.img-card{
    background-color: #767676;
    width: 40%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.conteudo-card{
    height: 100%;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.detalhes-card{
    display: flex;
    gap: 20px;
}


.dropdown-more{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.dropdown-more:hover .body-drop-more{
    border-radius: 5px;
    display: flex;
}

.main-dropdown-more{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
}

.body-drop-more{
    width: calc(100% * 5);
    background-color: white;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
    padding: 8px 0;
    display: none;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 0px;
    top: 42px;
    border-radius: 5px;
}

.options-more{
    width: 100%;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}
.options-more:hover{
    background-color: #e4e4e4;
}


.categoria{
    background-color: #FFE1E1;
    padding: 8px 12px;
    border-radius: 6px;
}
.categoria > p{
    margin: 0;
}

.data-noticia{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.data-noticia > p{
    margin: 0;
}

.conteudo-card > .conteudo{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.conteudo-card > .conteudo > :nth-child(1){
    font-size: 22px;
    font-weight: 500;
}

.conteudo-card > .link-noticia{
    
}

.conteudo-card > .link-noticia > a{
    float: right;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: #9D0058 !important;
}
.conteudo-card > .link-noticia > a > iconify-icon{
    font-size: 20px;
}