/* 

#head {
    display: flex;
    justify-content: space-between;
}

#car {
    display: flex;
    justify-content: flex-end;
    margin: 2%;
    align-items: baseline;
}

#af {
    padding: 1%;
}

#botetit {
    margin: 1%;
    display: flex;
    background-color: #FFE9F5;
    width: fit-content;
    height: fit-content;
    color: #9D0058;
    border-radius: 8px;
    justify-content: center;
}


#atvd {
    display: flex;
    align-items: baseline;
}


.public {
    display: flex;
    align-items: baseline;
    height: 10%;
    width: fit-content;
    margin-right: 2%;
    justify-content: flex-start;
    border: none;
}

.socorro.ativo {
    display: flex;
    align-items: baseline;
    border-bottom: 5px solid #9D0058;
}

.socorro.ativo small {
    background-color: #FFE9F5;
    color: #9D0058;
    border-radius: 16px;
    padding: 4%;
}

.socorro:not(.ativo) {
    display: flex;
    align-items: baseline;
    color: #767676;
}

.socorro:not(.ativo) small {
    background-color: #F3F3F3;
    border-radius: 16px;
    padding: 4%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #6C6C6C;
}

.socorro {
    display: flex;
    align-items: baseline;
    background-color: white;
    border: none;
    width: fit-content;
}

.socorro h5 {
    margin-right: 2%;
}




#blz {
    width: 250px;
}

.fil {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.ajuda {
    align-self: center;
    margin: 4%;
}

#forma {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#forma select {
    background-color: transparent;
    border: none;
    width: 80%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#org {
    display: flex;
}

#org input {
    width: 50%;

}

.soc {
    align-self: center;
}


.cardv {
    display: flex;
    height: 40%;
    padding: 2%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    margin: 0;
    margin-top: 3%;
}

.titulo-operacao {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.imga {
    height: 70%;
    width: 30%;
    margin-right: 5%;
}

.txt {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#cara {
    width: 100%;
    height: 100%;
}


#textcarda {
    display: flex;
    justify-content: space-between;
}

#iconalinha {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 4%;
    width: 80%;
}

.icone {
    display: flex;
    width: 100%;
}


.footer-card {
    display: flex;
    flex-direction: column;
}
.footer-card div{
    margin-top: 2%;
    margin-left: 2%;
}

#btnv {
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    border-radius: 16px;
}

#valor-imovel {
    color: #9D0058;
    margin-right: 1%;
}

.operacao-icone {
    display: flex;
    width: 30%;
    justify-content: space-evenly;

}



.dropbtn {
    pointer-events: none;
    border: none;
    background-color: white;
    cursor: pointer;
}

.socorro:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown-content {
    display: none;
    margin-top: 30px;
    background-color: #F5F4F4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: absolute;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

a:hover {
    background-color: #E9E9E9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.tudoedata {
    display: flex;
    justify-content: flex-start;
}

.oportunidade {
    display: flex;
    background-color: #FFE1E1;
    color: #C80000;
    height: fit-content;
    justify-content: center;
    border-radius: 8px;
    border-color: #FFE1E1;
    border-width: 40%;
    width: 20%;
    height: 40%;
    margin-right: 4%;
}
.data {
    color: #828282;
    display: flex;
    flex-wrap: nowrap;
}

.noticia {
    display: flex;
    align-items: center;
}

.noticia div {
    margin-left: 2%;
    width: fit-content;
}

.text-rosa {
    color: #9D0058;
}


#ler{
    width: 12%;
    text-decoration: none;
    display: flex;
} */


/* Estilizando título da página */
.barra-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.barra-titulo > h2{
    font-weight: 600;
}

.filtro-data{
    background-color: white;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid #E7E7E7;
    color: #212121;
    box-shadow: none;
}
.filtro-data:hover{
    background-color: #9D0058;
    color: white;
}

/* Estilizando área de notícias */
.noticias{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Estilizando card de uma notícia */
.card-noticia{
    display: flex;
    border: 1px solid #E7E7E7;    
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
}

/* Estilizando informações da notícia */
.img-noticia > img{
    max-width: 420px;
    height: 100%;
}

.dados-noticia{
    display: flex;
    gap: 16px;
}

.categoria{
    display: flex;
    height: 32px;
    padding: 0 12px;
    background-color: #FFE1E1;
    color: #C80000;
    font-weight: 500;
    font-size: 12px;
    border-radius: 6px;
  
    align-items: center;
}
.data-publicacao{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #828282;
}
.data-publicacao *{
    margin:0;
}

/* Estilizando conteúdo da notícia */
.conteudo-card{
    width: 100%;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-around;
}

.info-noticia{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.info-noticia > h4{
    margin: 0;
}
.info-noticia > p, .info-noticia > h6{
    margin: 0;
}

.titulo-noticia{
    font-weight: 600;
}

.descricao-noticia{
    font-size: 14px;
}

.btn-ler-noticia{
    float: right;
    border: none;
    background-color: white;
    color: #9D0058 !important;
    font-weight: 500 !important;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.btn-ler-noticia > iconify-icon{
    font-size: 20px !important;
}


/*Estilizando paginação*/

/* .nav-paginacao{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.paginacao{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
}
.paginacao > li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background-color: #FFE4F3;
    cursor: pointer;
}
.paginacao > :nth-child(1){
    background-color: white;
    border: 1px solid #D2D2D2;
    color: #D2D2D2 !important;
    pointer-events: none;
}
.paginacao > :nth-child(2){
    background-color: #9D0058;
    color: white !important;
}
.paginacao > :last-child{
    background-color: rgb(255, 255, 255);
    border: 1px solid #9D0058;
    color: #9D0058 !important;
    font-size: 600;
}
.paginacao > li > a{
    color: #655A60 !important;
}
.paginacao > li:hover , .paginacao > li:hover a{
    background-color: #970756;
    color: white !important;
}
.paginacao > :nth-child(2) > a{
    color: white !important;
} */