.pagina-inicial > a{
    font-weight: 600;
}


a{
    text-decoration: none !important;
    color:black;
}
a:visited{
    text-decoration: none !important;
}


#heroImg {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    height: 48em;
    background-image: url("../img/img-hero-mulheres.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

#texto{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

#texto h1 {
    align-self: center;
    text-align: center;
    color: white;
    font-size: 3em;
    font-weight: 800;
}

#texto h1 > span{
    background: linear-gradient(183deg, #B00063 10.51%, #EE2A98 47.98%, #F2048A 97.59%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#texto > p{
    text-align: center;
    width: 400px;
    color: white;
}

#areaPesquisa {
    display: block;
    align-self: center;
    width: 60%;
    height: 25%;
}

#areaForm{
    width: 100%;
    height: 100%;
}

form {
    height: 100%;
    display: flex;
    background-color: white;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    flex-direction: column;
    gap: 24px;
    padding: 24px 24px;
}

.labelde {
    color: #878787;
}

form h4{
    padding: 3%;
}
#selecoes {
    display: flex;
    gap: 40px;
}

#selecoes > #select > select{
    border: none;
    outline: none;
}

#select > select > option{
    border: none;
    outline: none;
}

#escolhas{
    display: flex;
}

.botao {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.botao.ativo {
    background-color: white;
    color: #0C0B0B;
}

.botao:not(.ativo) {
    background-color: gray;
    color: #4D4D4D;
}

#iconback{
    background-color: #9D0058;
    border-radius: 36px;
    padding: 2%;
    align-self: center;
    justify-self: center;
    justify-items: center;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
}
#pesquisa{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#pesquisa > input{
    border: none;
    padding: 0;
    font-size: 24px;
    width: 50%;
    color: black;
}

#pesquisa > input::placeholder{
    color: black;
    font-weight: 500;
}

#pesquisa > input:focus{
    border: none;
    outline: none;
}

#pesquisa > input:hover{
    border-bottom: 1px solid rgb(226, 226, 226);
}

#imoveis {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 2%;
    width: 97%;
}

#imoveis input {
    background-color: #B00063;
    color: white;
}

.title-section{
    display: flex;
    justify-content: space-between;
    padding: 0 32px 32px 32px;
    margin-top: 60px;
}
.title-section > a{
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #9D0058;
    color: white !important;
    font-weight: 500;

}

.cards-imoveis{
    width: 100vw;
    display: flex;
    gap: 20px;
    padding: 0 32px;
}

.cardImovel{
    width: calc(100% / 4 - 10px);
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #E2E2E2;
}

.img-card{
    height: 50%;
}
.img-card > img{
    width: 100%;
    height: 100%;
}

.conteudo-card *{
    margin: 0;
}
.conteudo-card{
    padding: 24px 18px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-card{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.title-card{
    display: flex;
    justify-content: space-between;
}

.subtitle-card{
    display: flex;
    justify-content: space-between;
}


.dados-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.icon-dado{
    display: flex;
    align-items: center;
    gap: 8px;
}
.icon-dado > :nth-child(2){
    color: #515151;
}
.icon-dado > iconify-icon{
    font-size: 20px;
}

.cards {
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 70%;
}


.card-deck {
    margin-left: 0;
    margin-right: 0;
}

.card-body{
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#textcarda {
    display: flex;
    justify-content: space-between;
}

#valor {
    color: #9D0058;
}

#iconalinha {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 4%;
}

.text-rosa {
    color: #9D0058;
}

.rosio > :nth-child(1){
    padding: 34px 56px;
    border-radius: 100px;
    font-size: 40px;
    color: #B00063;
}

.noticia {
    display: flex;
    align-items: center;
}

.noticia div {
    margin-left: 2%;
}

.data {
    color: #828282;
    display: flex;
    flex-wrap: nowrap;
}

.oportunidade {
    display: flex;
    background-color: #FFE1E1;
    color: #C80000;
    height: fit-content;
    justify-content: center;
    border-radius: 8px;
    border-color: #FFE1E1;
    border-width: 40%;
    width: 40%;
    height: 40%;
    margin-right: 4%;
}

.tudoedata {
    display: flex;
    justify-content: flex-start;
}


/* texto central*/

#txtgera {
    margin-top: 8%;
    margin-bottom: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#txtcentral {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    text-align: center;
    gap: 24px;
}

#txtcentral h4 {
    color: #B00063;
}

/* card baixo*/

#cardbaixo {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;

}
.rosio{
    display: flex;
    justify-content: center;
}
.rosio   div{
    display: flex;
    justify-content: center;
    background-color: #FFEDF7;
    width: 20%;
    height: 100%;
    padding: 3%;
    border-radius: 36px;
    margin-bottom: 3%;
}
/*
banner final
*/

.banner {
    display: flex;
    align-self: center;
    height: 40%;
    width: 100%;
    margin-left: 0;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

#botetit {
    display: flex;
    background-color: #FFE9F5;
    width: 90%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 16px;
    padding: 64px 0;
}

#espa {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.span-footer{
    color: #B00063;
}

.noticias{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 40px;
}

.titleSectionNoticias{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}
.titleSectionNoticias > a{
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #9D0058;
    color: white !important;
    font-weight: 500;
}

.cardsNoticias{
padding: 0 40px;
display: flex;
gap: 20px;
}

.cardNoticia{
    width: calc(100% / 3 - 10px);
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #E2E2E2;
}

.imageNoticia > img{
    width: 100%;
}

.conteudoCardNoticia{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.conteudoCardNoticia > a{
    color: #9D0058 !important;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    font-weight: 500;
}

.headerCardNoticia{
    display: flex;
    gap: 14px;
    align-items: center;
    
}

.categoriaNoticia{
    padding: 8px 14px;
    background-color: #FFE1E1;
    color: #C80000;
    font-weight: 500;
    border-radius: 6px;
    font-size: 14px;
}

.dataPubliNoticia{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #828282;
    font-weight: 500;
}

.conteudoNoticia{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.titleNoticia{font-size: 18px;}

.descricaoNoticia{font-size: 14px;}

.spanTxtCentral{
    color: #9D0058 !important;
}


.iconRosio{
    padding: 24px;
}