@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #9d0058;
  --text-color: #1d1d1d;
  --bg-color: #f1f1fb;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
    display: flex;
    padding-left: 40px;
    background: #F4F4F4 !important;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}

a{
    text-decoration: none !important;
}
a:visited{
    text-decoration: none !important;
}

/* Estilizando retorno das páginas */
.retorno{
    display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
}
.retorno > a{
    display: flex;
    align-items: center;
    gap: 8px;
}
.retorno > iconify-icon{
    color: black;
    font-size: 20px;
}
.retorno > span{
    color: #717171;
}
.retorno > a:visited{
    color: black;
}

/* Estilizando menu lateral  */
aside{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
}

.container1{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.nav-menu > p{
    font-size: 14px;
    color: #616161;;
}

.nav-lista-menu{
    width: calc(100% - 20px);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.nav-item-menu{
    width: 100%;
    list-style: none;
    cursor: pointer;
    padding: 8px 24px; /*top, right, bottom, left*/
    color: #616161;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
}
.nav-item-menu:hover{
    background-color: white;;
    color: var(--primary-color);
}

.sair{
    width: calc(100% - 20px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
    font-size: 16px;
    border: none;
    background: #F4F4F4 !important;
    color: #616161;
    cursor: pointer;
}
.sair > iconify-icon{
    font-size: 16px;
}
.sair:hover{
    background-color: white;;
    color: var(--primary-color);
    border-radius: 8px;
}


/* Perfil usuário */

/*Retorno usuário*/
.retornoPerfil{
    display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
}

.retornoPerfil > a{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.retornoPerfil > a > iconify-icon{
    color: black;
    font-size: 24px;
}

.retornoPerfil > a:visited{
    color: black;
}

/*Container - blur*/

.containerPerfil{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
}


.mainPerfil{
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px 24px;
    display: none;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainPerfil p{
    margin: 0;
}

.detalhesPerfil{
    display: none;
    flex-direction: column;
    gap: 32px;
}

.containerImgPerfil{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.containerImagem{
    display: flex;
    align-items: flex-end;
}

.addImagem{
    position: relative;
    left: -48px;
    bottom: 0;
    width: 52px;
    height: 52px;
    background-color: #9D0058;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.tituloImgPerfil{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    color: #616161;
}

.imgPerfil{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 96px;
    color: #8C8C8C;
}

.dadosPerfil{
    display: flex;
    align-items: center;
    gap: 16px;
}

.colunaPerfil{
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.infoPerfil{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.infoPerfil > :nth-child(1){
    color: #616161;
    font-size: 14px;
}

.jornadaUsuario{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.tituloJornada{
    display: flex;
    align-items: center;
    gap: 16px;
    color: #616161;
}

.dadosJornada{
    display: grid;
    /* flex-wrap: wrap; */
    padding: 24px 24px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 100%;
    background-color: #FFF5FB;
    border-radius: 8px;
}

.infoJornada{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.infoJornada > :nth-child(1){
    color: #616161;
}
.infoJornada > :nth-child(2){
    font-size: 18px;
}

.btnEditarPerfil{
    width: fit-content;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    background-color: #9D0058;
    color: white;
    cursor: pointer;
}

.btnEditarPerfil > iconify-icon{
    font-size: 16px;
}

.editarPerfil{
    display: none;
    flex-direction: column;
    gap: 48px;
}

.formularioEdicao > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formularioEdicao > form > .input{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 65%;
}

.formularioEdicao > form > .input > input{
    padding: 8px 8px;
    border-radius: 6px;
    border: 1px solid #B0B0B0;
}

.salvarEdicao{
    width: fit-content;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
    background-color: #9D0058;
    color: white;
    cursor: pointer;
}

.salvarEdicao > iconify-icon{
    font-size: 16px;
}


/* IMÓVEIS PUBLICADOS */

/* body {
  margin: 2%;
  height: 100vh;
  width: 96vw;
  overflow-x: hidden;
} */

#head {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px;
  }
  
  #car {
    display: flex;
    justify-content: flex-end;
    margin: 2%;
    align-items: baseline;
  }
  
  #af {
    padding: 1%;
  }
  
  #botetit {
    margin: 1%;
    display: flex;
    background-color: #FFE9F5;
    width: fit-content;
    height: fit-content;
    color: #9D0058;
    border-radius: 8px;
    justify-content: center;
  }
  
  
  #atvd {
    display: flex;
    align-items: baseline;
  }
  
  
  .public {
    display: flex;
    align-items: baseline;
    height: 10%;
    width: fit-content;
    margin-right: 2%;
    justify-content: flex-start;
    border: none;
  }
  
  .socorro.ativo {
    display: flex;
    align-items: baseline;
    border-bottom: 5px solid #9D0058;
  }
  
  .socorro.ativo small {
    background-color: #FFE9F5;
    color: #9D0058;
    border-radius: 16px;
    padding: 4%;
  }
  
  .socorro:not(.ativo) {
    display: flex;
    align-items: baseline;
    color: #767676;
  }
  
  .socorro:not(.ativo) small {
    background-color: #F3F3F3;
    border-radius: 16px;
    padding: 4%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #6C6C6C;
  }
  
  .socorro {
    display: flex;
    align-items: baseline;
    background-color: white;
    border: none;
    width: fit-content;
  }
  
  .socorro h5 {
    margin-right: 2%;
  }
  
  /*
  botão filtro
  */
  
  #blz {
    width: 250px;
  }
  
  .fil{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .ajuda{
    align-self: center;
    margin: 4%;
  }
  
  #forma{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #forma select{
    background-color: transparent;
    border: none;
    width: 80%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #org{
    display: flex;
  }
  
  #org input{
    width: 50%;
  
  }
  .soc{
    align-self: center;
  }
  /*
    saindo do header cbç
    */
  
  .cardv {
    display: flex;
    height: 40%;
    padding: 2%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    margin: 0;
    margin-top: 3%;
  }
  
  .titulo-operacao {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .imga {
    height: 70%;
    width: 30%;
    margin-right: 5%;
  }
  
  .txt {
    width: 70%;
  }
  
  #cara {
    width: 100%;
    height: 100%;
  }
  
  
  #textcarda {
    display: flex;
    justify-content: space-between;
  }
  
  #iconalinha {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-top: 4%;
    width: 80%;
  }
  
  .icone {
    display: flex;
    width: 100%;
  }
  
  
  .footer-card {
    display: flex;
    justify-content: space-between;
  }
  
  #btnv {
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    border-radius: 16px;
  }
  
  #valor-imovel {
    color: #9D0058;
    margin-right: 1%;
  }
  
  .operacao-icone {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
  
  }
  
  
  
  /*
  sla
  */
  
  .dropbtn {
    pointer-events: none;
    border: none;
    background-color: white;
    cursor: pointer;
  }
  
  .socorro:focus{
    outline: thin dotted;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
  }
  
  .dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .dropdown-content {
    display: none;
    margin-top: 30px;
    background-color: #F5F4F4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: absolute;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  a:hover {
    background-color: #E9E9E9;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #publicados:not(.ativo){
    display: block;
  }
  
  #publicados.ativo{
    display: none;
  }
  #desativados:not(.ativo){
    display: none;
  }
  #publicados.ativo{
    display: block;
  }