/* CARACTERÍSTICAS GERAIS */
.main{
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 150px 34px;
    gap: 200px;
}

.etapas{
    /* width: calc(100vw / 2); */
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.etapa{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #848484;
}

.etapas > :nth-child(1){
    color: black;
}

.etapas > :nth-child(1) > .icon{
    padding: 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 20px;
    border: 1px solid black;
    color: black;
}

.etapa > .icon{
    padding: 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 20px;
    border: 1px solid #848484;
    color: #848484;
}

.publicacao-form{
    width: 584px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.legenda > :nth-child(1){
    color: #5B5B5B;
}
.legenda > :nth-child(2){
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 12px;
}
.legenda > :nth-child(3){
    color: #5B5B5B;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons{
    display: flex;
    justify-content:right;
    align-items: center;
}


.container-btn{
    width: calc(100% /2);
}
.container-btn>.btnNext{
    float: right;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: #9D0058;
    color: white !important;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.container-btn>.btnBefore{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: #989898;
    color: white !important;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

/* ESTILIZAÇÃO INFO PESSOAIS */
.inputs-row{
    display: flex;
    gap: 24px;
}
.inputs-row > .input{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.input > input{
    padding: 12px 8px;
    width: 280px;
    border-radius: 4px;
    border: 1px solid #B0B0B0;
}

/* ESTILIZAÇÃO OPERAÇÃO */
.labelRadioop{
    display: inline-block;
    width: 584px;
    padding: 32px 24px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #DCDCDC;
}

.labelRadioop:hover{
    background-color: #FFE1F2;
    color: #9D0058;
    border: 1px solid #9D0058;
}

input[type="radio"]:checked + .labelRadioop {
    background-color: #FFE1F2;
    color: #9D0058;
    border: 1px solid #9D0058;
}

/*ESTILIZAÇÃO TIPO IMÓVEL*/
.options-form-tipo{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.labelRadio.tipo{
    display: inline-block;
    width: 150px;
    height: 120px;
    padding: 24px 40px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #DCDCDC;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    text-align: center;
}
.labelRadio.tipo>iconify-icon{
    font-size: 30px;
}
.labelRadio.tipo:hover{
    background-color: #FFE1F2;
    color: #9D0058;
    border: 1px solid #9D0058;
}

input[type="radio"]:checked + .labelRadio.tipo {
    background-color: #FFE1F2;
    color: #9D0058;
    border: 1px solid #9D0058;
}


/* ESTILIZAÇÃO CARACTERÍSTICAS BÁSICAS */

.container-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}

.area-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.area-input > input{
    background: none;
    border: none;
    font-size: 18px;
    padding: 8px;
}

.header-input{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
}

/* ESTILIZAÇÃO DETALHE IMÓVEL*/
.container-selects{
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px 16px;
}

.select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}
.select > p{
    width: 100%;
    margin: 0;
    font-size: 14px;
}
.select > select{
    border-radius: 6px;
    background: none;
    border: 1px solid #848484;
}
.select > input{
    background: none;
    border: none;
    padding: 8px;
    border-radius: 6px;
}

.select > input, .select > select{
    width: 120px;
    padding: 4px 8px;
}
.container-selects > :last-child > :first-child{
    width: 280px;
}
.container-selects > :last-child > :last-child{
    border: 1px solid #848484;
    width: 140px;
}

/* ESTILIZAÇÃO VALORES */
#valores > .form > .container-selects > .select > :first-child{
    font-weight: 600;
}

/* ESTILIZAÇÃO LOCALIZAÇÃO */
.container-inputs-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.inputs-form{
    display: flex;
    gap: 5%;
}


.input-form{
    display: flex;
    flex-direction: column;
    width: calc(100% / 2);
    gap: 4px;
    font-size: 14px;
}
.input-form > input{
    background: none;
    border-radius: 6px;
    border: 1px solid #848484;
    padding: 12px;
}

.input-form.i3{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.input-form.i4{
    display: flex;
    flex-direction: column;
    width: 30%;
}

/* ESTILIZAÇÃO IMAGENS */
.btn-upload{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE5F4;
    padding: 12px;
    border-radius: 6px;
    border: 1px dashed #9D0058;
}
.btn-upload > p{
    color: #5B5B5B;
    font-size: 14px;
}
.container-btn-file{
    position: relative;
}

input[type="file"]{
    display: none;
}

.labelFile{
    padding: 8px 12px;
    background-color:#9D0058;
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 16px;
    cursor: pointer;
}

.container-img{
    /* background-color: #9D0058; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: scroll;
    overflow-x: hidden;
    height: 280px;
    max-width: 584px;
    gap: 8px;
}

.imgpreview{
    width: calc(100% / 4 - 6px);
    height: 120px;
    background-color: #5B5B5B;
    margin-block-end: 8px;
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px;
}

.imgpreview > img{
    width: 100%;
    height: 100%;
}

.btndelete{
    padding: 12px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/* ESTILIZAÇÃO PRÉ VISUALIZAÇÃO */
.contentView{
    width: 95%;
    height: 95%;
    background-color: white;
    border-radius: 8px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 40px;
}
.contentView *{
    margin: 0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns-header{
    display: flex;
    gap: 12px;
    align-items: center;
}

.btns-header > *{
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background-color: #9D0058;
    color: white !important;
    cursor: pointer;
}

.btns-header > :first-child{
    background-color: #8f8f8f;
}

.container-select-imgs{
    width: 100%;
    height: 300px;
    /* display: flex; */
    /* align-items: center; */
    position: relative;
    /* justify-content: center; */
}

.containerImgs{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.btnsSlideImgs{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    padding: 0 40px;
}

.bloco{
    width: 100%;
    display: flex;
    gap: 8px;
    border-radius: 14px
}

/* .bloco-img{
    width: 600px;
    height: 100%;
    display: flex;
    gap: 8px;
} */

.img-select{
    width: calc(100% / 2);
    height: 300px;
    /* background-image: url("../../img/img-preview-solicitacao.jfif"); */
    background-position: center;
    background-size: cover;
    border-radius: 4px;
}
.img-select > img{
    width: 100%;
    height: 100%;
}

.btnsSlideImgs > a{
   position: absolute;
   border-radius: 100px;
   border: none;
   background-color: rgba(0, 0, 0, 0.50);
   padding: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white !important;
   font-size: 20px;
   cursor: pointer;
}
#after{
    right: 40px;
}
#before{
    left: 40px;
}

.header-description{
    display: flex;
    align-items: center;
    gap: 12px;
}

.content-preview{
    display: flex;
    padding-top: 40px;
    gap: 3%;
}

#tipoImovelPreview{
    font-size: 24px;
}

#operacaoPreview{
    padding: 8px 20px;
    border: 1px solid black;
    border-radius: 100px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 72%;
}

.descricaoPreview{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.descricaoPreview > textarea {
    width: 100%;
    border: 1px solid #B0B0B0;
    border-radius: 4px;
    padding: 16px;
}

.describe-endereco{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.carac-basic{
    display: flex;
    gap: 20px;

}

.side-bar{
    height: fit-content;
    width: 31%;
    border-radius: 12px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
    padding: 32px 12px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.header-side{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.header-side > :last-child{
    font-size: 32px;
    font-weight: 500;
    display: flex;
}

.btns-side{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btns-side > a{
    border-radius: 5px;
    padding: 8px 0;
    background: #9D0058;
    color: white !important;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor:default;
}
.btns-side > :nth-child(1){
    border: 1px solid #9D0058;
    background: white;
    color: #9D0058 !important;

}

#valImovel{
    display: flex;
    gap: 4px;
}

.grid-side{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 32px;
    row-gap: 16px;
}

.item-grid{
    font-size: 16px;
}

.valoriptucampo{
    display: flex;
}


/* MODAL DECISÃO */
.contentdecisao{
    width: 40%;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 40px;
    border: 2px solid rgb(250, 204, 0)
}
.contenttext > :first-child{
    font-size: 24px;
    font-weight: 500;
}
.contenttext > :last-child{
    color: #848484;
    
}

.decisoes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}
.decisoes > :first-child{
    float: right;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: #ebac00;
    color: rgb(0, 0, 0) !important;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.decisoes > :last-child{
    
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: #989898;
    color: rgb(0, 0, 0) !important;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

#infoPessoais{
    display: none;
}

#operacao{
    display: none;
}

#tipoImovel{
    display: none;
}

#caracBasic{
    display: none;
}

#detalheImovel{
    display: none;
}

#valores{
    display: none;
}

#localizacao{
    display: none;
}

#imagens{
    display: none;
}

#preVisualizacao{
    position: fixed;
    background-color: red;
    width: 100vw;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    align-items: center;
    justify-content: center;
}

#modaldecisao{
    position: fixed;
    background-color: red;
    width: 100vw;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    align-items: center;
    justify-content: center;
}

#form1{
    display: none;
}
#form2{
    display: none;
}
#form3{
    display: none;
}
#form4{
    display: none;
}
#form5{
    display: none;
}
#form6{
    display: none;
}
#form7{
    display: none;
}
#form8{
    display: none;
}

/* MODAL SOLICITAÇÃO ENVIADA */

#modalenviada{
    position: fixed;
    background-color: red;
    width: 100vw;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#modalenviada .contentenviada{
    width: 40%;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

#modalenviada .envtext{
    width: 80%;
    min-width: 300px;
    margin: auto;
    margin-bottom: 7%;
}

#btnVoltarInicio{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: #9D0058;
    color: white !important;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8px;
    margin: auto;
}

#icone{
    text-align: center;
    margin-bottom: 5%;
}

#icone #iconeconfirm{
    font-size: 100px;
    color: #00833C;
}
