

/* Celular */
@media (max-width: 425px){

}

/* Tablet */
@media (max-width:768px){
    main{
        flex-direction: column;
    }
    .etapas{
        display: none;
    }
    .bar-mobile{
        display: flex;
    }
    .bar-mobile > .etapa-bar > .icon{
        width: 16px;
        height: 16px;
    }
    .bar-mobile > .etapa-bar > .icon > iconify-icon{
        width: 16px;
        height: 16px;
    }
}


/* Laptop */
@media (max-width: 1024px){
    main{
        gap: 46px;
        flex-wrap: nowrap;
    }
    
}


