<link rel="stylesheet" href="../../css/detalheImovel.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">


<main id="main">
    <div class="retorno">
        <a href="/">
            <iconify-icon icon="ep:arrow-left"></iconify-icon>
            Página Inicial/
        </a>
        <span>Imóvel</span>
    </div>

    <section class="container-imovel" id="container-imovel">

        <div class="container-grid">

            <div class="grid">
                <div class="imagem-imovel primeiro" id="imagem-imovel">
                    <img src="../../img/img-detalhe-imovel.jpeg" alt="">
                </div>

                <div class="imagem-imovel segundo" id="imagem-imovel">
                    <img src="../../img/img-detalhe-imovel.jpeg" alt="">
                </div>

                <div class="imagem-imovel terceiro" id="imagem-imovel">
                    <img src="../../img/img-detalhe-imovel.jpeg" alt="">

                </div>

                <div class="imagem-imovel quarto" id="imagem-imovel">
                    <button class="mais-imagens" onclick="verImagens()">Ver mais imagens</button>
                </div>
            </div>

        </div>

        <div class="detalhes-imovel">

            <div class="info-imovel">

                <div class="cabecalho-info">
                    <div class="operacao-imovel">
                        <p class="operacao" id="operacao-imovel">Comprar</p>
                    </div>
                    <div class="data-publicacao" id="data-publicacao">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        <p class="data-publi" id="data-publi">08/09/2023</p>
                    </div>
                    <p class="id-imovel" id="id-imovel">ID: 789654</p>
                </div>

                <p class="tipo-imovel" id="tipo-imovel">Apartamento</p>

                <div class="localizacao">

                    <div class="titulo-localizacao">
                        <iconify-icon icon="icon-park-outline:local-two"></iconify-icon>
                        Localização
                    </div>

                    <div class="endereco-mapa">
                        <p class="endereco-imovel" id="endereco-imovel">
                            Rua dos Sargentos, 32, Vitória, Salvador
                        </p>
                        <button class="abrir-mapa" id="abrir-mapa" onclick="abrirMapa()">
                            <iconify-icon icon="material-symbols:map-outline"></iconify-icon>
                            Abrir no mapa
                        </button>
                    </div>
                </div>
                <div class="descricao">
                    <p>Descrição</p>

                    <p class="descricao-imovel" id="descricao-imovel">
                        Lorem ipsum dolor sit amet consectetur. Et donec adipiscing orci non et et.
                        Est tortor gravida orci eu egestas in placerat. Dui mauris eget odio ipsum tortor
                        dictum adipiscing integer arcu. Mi tempor hac purus semper ultricies. Etiam urna faucibus proin
                        nunc
                        eu. Risus ut erat venenatis fames. Tristique a placerat lacus vel nunc quis mauris. Sit iaculis
                        sodales viverra eu id sed porttitor sagittis. Massa commodo condimentum quam donec.
                        Lacus euismod arcu cras elit amet.
                        Pretium a pellentesque tempor eu curabitur nisl felis. Sit scelerisque donec venenatis
                        felis etiam. Risus volutpat arcu sed ut pellentesque sed. Sapien.
                    </p>
                </div>
                <div class="carac-imovel" id="carac-imovel">
                    <div class="sub-carac">
                        <div class="titulo-carac">
                            <iconify-icon icon="mdi:bed-outline"></iconify-icon>
                            Quartos
                        </div>
                        <p id="valor-quarto">14</p>
                    </div>

                    <div class="sub-carac">

                        <div class="titulo-carac">
                            <iconify-icon icon="iconoir:bathroom"></iconify-icon>
                            Banheiros
                        </div>
                        <p id="valor-banheiro">6</p>
                    </div>
                    <div class="sub-carac">
                        <div class="titulo-carac">
                            <iconify-icon icon="majesticons:car-line"></iconify-icon>
                            Vagas
                        </div>
                        <p id="valor-vaga">3</p>
                    </div>
                    <div class="sub-carac">
                        <div class="titulo-carac">
                            <iconify-icon icon="iconoir:ruler"></iconify-icon>
                            Área do imóvel
                        </div>
                        <p id="valor-area">108 m²</p>
                    </div>

                </div>
            </div>

            <div class="lateral-info-imovel">

                <div class="preco-imovel" id="preco-imovel">
                    <p class="titulo-info">Valor do imóvel</p>
                    <p class="valor"> R$ 200.000,00</p>
                </div>

                <div class="line-info">
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">Condomínio</p>
                        <p class="valor-info" id="valor-condominio-imovel">R$ 600,00</p>
                    </div>
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">IPTU</p>
                        <p class="valor-info" id="iptu-imovel">R$ 1.200 <span id="parcela">(12x)</span></p>
                    </div>
                </div>
                <div class="line-info">
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">Em construção</p>
                        <p class="valor-info" id="construcao-imovel">Não</p>
                    </div>
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">Data de entrega</p>
                        <p class="valor-info" id="iptu-imovel">02/08/2019</p>
                    </div>
                </div>
                <div class="line-info">
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">N° Andares</p>
                        <p class="valor-info" id="andares-imovel">11</p>
                    </div>
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">Em condomínio</p>
                        <p class="valor-info" id="condominio-imovel">Sim</p>
                    </div>
                </div>

                <div class="buttons-lateral">
                    <button class="tirar-duvida" id="tirar-duvida" onclick="TirarDuvida()">
                        <iconify-icon icon="majesticons:chat-line"></iconify-icon>
                        Tirar uma dúvida
                    </button>
                    <button class="agendar-visita" id="agendar-visita" onclick="AgendarVisita()">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        Agendar visita
                    </button>
                </div>


            </div>

        </div>

        <div class="imovel-footer">
            <p>Parecido com o que você buscou</p>
            <div class="cards-imoveis">
                <div class="card-imovel">
                    <div class="img-card">
                        <img src="../../img/img-card-imovel.jfif" alt="">
                        <div class="operacao-imovel-card">
                            <p id="operacao-imovel">Comprar</p>
                        </div>
                    </div>
                    <div class="conteudo-card">
                        <div class="line-conteudo">
                            <div class="line">
                                <p class="tipo-imovel" id="tipo-imovel">Apartamento</p>
                                <p class="preco-imovel" id="preco-imovel">R$ 500.000</p>
                            </div>
                            <div class="line">
                                <p class="endereco-imovel" id="endereco-imovel"> Pituba - Salvador </p>
                                <p class="id-imovel" id="id-imovel">ID: 478547</p>
                            </div>
                        </div>

                        <div class="caracteristicas">
                            <div class="item-carac">
                                <iconify-icon icon="mdi:bed-outline"></iconify-icon>
                                <p id="quarto-imovel">8 qua.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:bathroom"></iconify-icon>
                                <p id="banheiro-imovel">4 ban.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="majesticons:car-line"></iconify-icon>
                                <p id="vaga-imovel">2 vagas</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:ruler"></iconify-icon>
                                <p id="area-imovel">104m²</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-imovel">
                    <div class="img-card">
                        <img src="../../img/img-card-imovel.jfif" alt="">
                        <div class="operacao-imovel-card">
                            <p id="operacao-imovel">Comprar</p>
                        </div>
                    </div>
                    <div class="conteudo-card">
                        <div class="line-conteudo">
                            <div class="line">
                                <p class="tipo-imovel" id="tipo-imovel">Apartamento</p>
                                <p class="preco-imovel" id="preco-imovel">R$ 500.000</p>
                            </div>
                            <div class="line">
                                <p class="endereco-imovel" id="endereco-imovel"> Pituba - Salvador </p>
                                <p class="id-imovel" id="id-imovel">ID: 478547</p>
                            </div>
                        </div>
                        <div class="caracteristicas">
                            <div class="item-carac">
                                <iconify-icon icon="mdi:bed-outline"></iconify-icon>
                                <p id="quarto-imovel">8 qua.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:bathroom"></iconify-icon>
                                <p id="banheiro-imovel">4 ban.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="majesticons:car-line"></iconify-icon>
                                <p id="vaga-imovel">2 vagas</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:ruler"></iconify-icon>
                                <p id="area-imovel">104m²</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-imovel">
                    <div class="img-card">
                        <img src="../../img/img-card-imovel.jfif" alt="">
                        <div class="operacao-imovel-card">
                            <p id="operacao-imovel">Comprar</p>
                        </div>
                    </div>
                    <div class="conteudo-card">
                        <div class="line-conteudo">
                            <div class="line">
                                <p class="tipo-imovel" id="tipo-imovel">Apartamento</p>
                                <p class="preco-imovel" id="preco-imovel">R$ 500.000</p>
                            </div>
                            <div class="line">
                                <p class="endereco-imovel" id="endereco-imovel"> Pituba - Salvador </p>
                                <p class="id-imovel" id="id-imovel">ID: 478547</p>
                            </div>
                        </div>
                        <div class="caracteristicas">
                            <div class="item-carac">
                                <iconify-icon icon="mdi:bed-outline"></iconify-icon>
                                <p id="quarto-imovel">8 qua.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:bathroom"></iconify-icon>
                                <p id="banheiro-imovel">4 ban.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="majesticons:car-line"></iconify-icon>
                                <p id="vaga-imovel">2 vagas</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:ruler"></iconify-icon>
                                <p id="area-imovel">104m²</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="mapaContainer" id="mapaContainer">
        <div class="area-mapa" id="area-mapa">

        </div>
    </div>

    <div class="modalImagens" id="modalImagens">
        <div class="conteudoModal">

            <div class="imagens-slide">
                <div class="imagem-slide" id="imagemSlide">

                </div>
                <div class="imagem-slide" id="imagemSlide">

                </div>
                <div class="imagem-slide" id="imagemSlide">

                </div>
                <div class="imagem-slide" id="imagemSlide">

                </div>
                <div class="imagem-slide" id="imagemSlide">

                </div>
                <div class="imagem-slide" id="imagemSlide">

                </div>

                <div class="botoes-slide" id="botoesSlide">
                    <button class="btn-antes-slide" id="antesSlide" onclick="addSlide(-1)">
                        <iconify-icon icon="ep:arrow-left"></iconify-icon>
                    </button>
                    <button class="btn-depois-slide" id="depoisSlide" onclick="addSlide(1)">
                        <iconify-icon icon="ep:arrow-right"></iconify-icon>
                    </button>
                </div>

            </div>

            <div class="imagens-carrossel">
                <div class="bloco-imagens" id="blocoImagens">
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                </div>
                <div class="bloco-imagens" id="blocoImagens">
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                </div>

                <div class="botoes-control" id="botoesControl">
                    <button class="antes" id="antes" onclick="addCarrossel(-1)">
                        <iconify-icon icon="ep:arrow-left"></iconify-icon>
                    </button>
                    <button class="depois" id="depois" onclick="addCarrossel(1)">
                        <iconify-icon icon="ep:arrow-right"></iconify-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modalAgendarVisita" id="modalAgendarVisita">
        <div class="conteudoModalAgendar" id="conteudoModalAgendar">
            <nav class="navegacao-modal-agendar">
                <div id="inicio-agendar">
                    <section id="agendar-visita">
                        <h2>Agendar visita</h2>
                        <p>Escolha uma data e um horário de visita disponibilizados pela imobiliária</p>
                    </section>
                    <div id="div-button">
                        <button id="btnCloseModalAgenda"><iconify-icon icon="mdi:remove"
                                id="icone-fechar"></iconify-icon></button>
                    </div>
                </div>

                <section id="data">
                    <h3>Data</h3>
                    <p>Selecione uma data no calendário</p>
                    <div class="wrapper">
                        <div class="header">
                            <div class="icons">
                                <span id="prev" class="material-symbols-rounded">chevron_left</span>
                                <p class="current-date" id="calendario-mes"></p>
                                <span id="next" class="material-symbols-rounded">chevron_right</span>
                            </div>
                        </div class="header">
                        <div class="calendar">
                            <ul class="weeks">
                                <li>DOM</li>
                                <li>SEG</li>
                                <li>TER</li>
                                <li>QUA</li>
                                <li>QUI</li>
                                <li>SEX</li>
                                <li>SAB</li>
                            </ul>
                            <ul class="days"></ul>
                        </div>
                    </div>
                </section>


                <section id="horario">
                    <h3>Horário</h3>
                    <p>Selecione um horário para a visita</p>

                    <div id="conteiner">
                        <iconify-icon icon="carbon:time" id="icone-relogio"></iconify-icon>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>HORA DISPONÍVEL</option>
                            <option value="1">Hora 1</option>
                            <option value="2">Hora 2</option>
                            <option value="3">Hora 3</option>
                            <option value="3">Hora 4</option>
                            <option value="3">Hora 5</option>
                        </select>
                    </div>

                </section>

                <div id="dados-usuario">
                    <section id="seus-dados">
                        <h3>Seus dados</h3>
                        <p>Informe seus dados para o corretor entrar em contato caso necessário</p>
                    </section>
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputText1" class="form-label">Nome e sobrenome</label>
                            <input type="text" class="form-control" id="exampleInputText1" placeholder="Digite aqui...">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                placeholder="Seu endereço de e-mail...">
                        </div>
                        <div class="mb-3" id="telefone">
                            <label for="exampleInputTel1" class="form-label">Telefone</label>
                            <input type="tel" class="form-control" id="exampleInputTel1" placeholder="(DDD) + número">
                        </div>
                    </form>
                    <div id="botao-submit">
                        <button type="submit" class="btn btn-primary" id="btnAgendar">Agendar visita</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="modalTirarDuvida" id="modalTirarDuvida">
        <div class="conteudoTirarDuvida">
            <nav class="formDuvida" id="formDuvida">
                <div class="publicacao">
                    <div class="publi2">
                        <div class="legenda">
                            <div class="divbotao">
                                <h1> Tirar Dúvida</h1>
                                <button id="botaoicon"><iconify-icon icon="ph:x-bold" id="icon"></iconify-icon></button>
                            </div>
                            <h5 class="cinza">Informe seus dados para o corretor responder sua dúvidas por email
                            </h5>
                        </div>
                        <br>
                        <form action="/public/EnviarDuvida" method="POST">
                            <div class="input">
                                <label for="nome-usuario">Nome e Sobrenome</label>
                                <input type="text" placeholder="Digite aqui..." name="nome_cliente" id="nome-usuario" 
                                class="info">
                            </div>
                            <div class="input">
                                <label>E-mail</label>
                                <input type="text" placeholder="O Endereço de e-mail..." class="info" name="email_cliente">
                            </div>

                            <div class="input">
                                <label for="telefone-usuario">Telefone</label>
                                <input type="tel" name="telefone_cliente" id="telefone-usuario" autocomplete="tel" pattern="^\(\d{2}\)\d{4,5}-\d{4}$" 
                                placeholder="(xx)xxxx-xxxx" class="info">
                            </div>
                            <div class="input2">
                                <label for="mensagem-usuario"> Sua Mensagem</label>
                                <textarea name="mensagem_cliente" id="mensagem-usuario" cols="30" rows="10"
                                    placeholder="Digite aqui..." class="info2"></textarea>
                                <div id="btn-form">
                                    <button id="botaoEnviarDuvida"> Enviar Mensagem </button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </nav>
            <nav class="formConfirmacao" id="formConfirmacao">
                <button id="fecharModalConfirmacao">
                    <iconify-icon icon="mdi:remove"></iconify-icon>
                </button>
                <div class="textoConfirmacao">
                    {{!-- <iconify-icon icon="line-md:circle-to-confirm-circle-transition"></iconify-icon> --}}
                    <p>Mensagem enviada com sucesso!</p>
                    <p>Enviamos sua questão para o corretor responsável. A resposta chegará no e-mail que você
                        forneceu, fique atento na sua Caixa de Entrada ou Spam.</p>
                </div>
            </nav>
        </div>
    </div>

</main>
<script src="../../js/detalheImovel.js"></script>