
<link rel="stylesheet" href="../../../css/PublicarImovelCorretor/publiImovelCorretor8.css">


<section class="main">
         <section class="publicacao">
            <div class="legenda">
                <p>Publique seu imóvel</p>
                <div class="legenda-etapa">
                    <iconify-icon icon="carbon:image"></iconify-icon>
                    Imagens
                </div>
                <p>Faça upload das imagens do seu imóvel aqui
                </p>
            </div>

            <div class="inserimage">
                <p>Selecione um arquivo do seu computador...</p>
                <div class="buttoncollet">
                    <iconify-icon icon="material-symbols:upload"></iconify-icon>
                    <p>Escolher arquivo</p>
                </div>
            </div>
            <div class="imagens-select">
                <div class="imagens-local">
                    <div class="images">
                        <iconify-icon icon="carbon:close-outline"></iconify-icon>
                    </div>
                    <div class="images">
                    </div>
                    <div class="images">
                    </div>
                    <div class="images">
                    </div>
                </div>
                <div class="imagens-local">
                    <div class="images">
                    </div>
                    <div class="images">
                    </div>
                    <div class="images">
                    </div>
                    <div class="images">
                    </div>
                </div>
            </div>
            <div id="direcao">
                <div id="voltar">
                    <button class="botoes" id="botaovoltar" onclick="window.location.href='/publiImovelCorretor7';">
                        <img src="../IMG/flecha-branca-esquerda.png" alt="" class="flechas" id="flechavoltar">Voltar
                    </button>
                </div>
                <div>
                    <button class="botoes" id="botaocontinuar" onclick="window.location.href='/publiImovelCorretor9';">
                        Continuar <img src="../IMG/flecha-banca.png" alt="" class="flechas" id="flechacontinuar">
                    </button>
                </div>
            </div>
        </section>
        <section class="etapas">
            <div class="etapa" id="etapa1">
                <div class="icon">
                    <iconify-icon icon="octicon:check-16"></iconify-icon>
                </div>
                Informações pessoais
            </div>
            <div class="etapa" id="etapa3">
                <div class="icon">
                    <iconify-icon icon="octicon:check-16"></iconify-icon>
                </div>
                Operação
            </div>
            <div class="etapa" id="etapa4">
                <div class="icon">
                    <iconify-icon icon="octicon:check-16"></iconify-icon>
                </div>
                Tipo do imóvel
            </div>
            <div class="etapa" id="etapa5">
                <div class="icon">
                    <iconify-icon icon="octicon:check-16"></iconify-icon>
                </div>
                Características básicas
            </div>
            <div class="etapa" id="etapa6">
                <div class="icon">
                    <iconify-icon icon="octicon:check-16"></iconify-icon>
                </div>
                Detalhe imóvel
            </div>
            <div class="etapa" id="etapa7">
                <div class="icon">
                    <iconify-icon icon="octicon:check-16"></iconify-icon>
                </div>
                Valores

            </div>
            <div class="etapa" id="etapa8">
                <div class="icon">
                    <iconify-icon icon="octicon:check-16"></iconify-icon>
                </div>
                Localização
            </div>
            <div class="etapa" id="etapa9">
                <div class="icon">
                    <iconify-icon icon="octicon:check-16"></iconify-icon>
                </div>
                Imagens
            </div>
            <div class="etapa" id="etapa10">
                <div class="icon">
                    <iconify-icon icon="carbon:view"></iconify-icon>
                </div>
                Pré-visualização
            </div>

        </section>
        <div class="bar-mobile">
            <div class="etapa-bar">
                <div class="icon">
                    <iconify-icon icon="octicon:check-16"></iconify-icon>
                </div>
                Informações pessoais
            </div>
            <div class="barra-vertical"></div>
            <div class="etapa-bar">
                <div class="icon">
                    <iconify-icon icon="octicon:check-16"></iconify-icon>
                </div>
                Operação
            </div>
        </div>
</section>

<script src="../../../js/PublicarImovelCorretor/publicarimovelcorretor8.js"></script>
