<header>
    <nav class="navegacao">
        <a href="/"><img src="../../img/logo_icon.png" width="60%" height="50%"></a>
        <ul class="nav-lista">
            <li class="pagina-inicial nav-item"><a href="/">P치gina Inicial</a></li>
            <li class="nav-item">
                <div class="dropdown">
                    Buscar im칩veis <i class="fa-solid fa-chevron-down"></i>
                    <div class="dropdown-content">
                        <div class="elemento-drop"> <a href="/public/buscaAvancada"> Comprar </a> </div>
                        <div class="elemento-drop"> <a href="/public/buscaAvancada"> Alugar </a> </div>
                    </div>
                </div>
            </li>

            <li class="publicar nav-item">
                <a href="/public/publicarImovelCliente">Publicar</a>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    A imobili치ria <i class="fa-solid fa-chevron-down"></i>
                    <div class="dropdown-content">
                        <div class="elemento-drop"> <a href="/public/sobrenos"> Sobre n칩s </a> </div>
                        <div class="elemento-drop"> <a href="/public/faleconosco"> Fale Conosco </a> </div>
                    </div>
                </div>
            </li>

            <li style="font-weight: 600;" class="log-in nav-item">
                <a href="/public/loginCorretor"> <i class="fa-solid fa-arrow-right-to-bracket"></i> Log in </a>
            </li>
        </ul>
        <div class="hamburguer">
            <div class="barra"></div>
            <div class="barra"></div>
            <div class="barra"></div>
        </div>
    </nav>
</header>