<link rel="stylesheet" href="../../../css/PublicarImovelCliente/publiImovelCliente2.css">
<script src="https://kit.fontawesome.com/854bbac24e.js" crossorigin="anonymous"></script>


<section class="main">
    <section class="publicacao">
        <div class="legenda">
            <p>Publique seu imóvel</p>
            <div class="legenda-etapa">
                <iconify-icon icon="icon-park:setting-config"></iconify-icon>
                Operação
            </div>
            <p>Que tipo de operação você tem interesse?
            </p>
        </div>
        <div class="formulario">

            <button class="escolha">
                <i class="fa-solid fa-cart-shopping icones"></i>
                <div class="opcao">Vender meu imóvel</div>
            </button>

            <button class="escolha">
                <i class="fa-solid fa-key icones"></i>
                <div class="opcao"> Alugar meu imóvel</div>
            </button>

        </div>
        <div id="direcao">
            <div id="voltar">
                <button class="botoes" id="botaovoltar" onclick="window.location.href='/publicarimovel1';">
                    <img src="../IMG/flecha-branca-esquerda.png" alt="" class="flechas" id="flechavoltar">Voltar
                </button>
            </div>
            <div>
                <button class="botoes" id="botaocontinuar" onclick="window.location.href='/publicarimovel3';">
                    Continuar <img src="../IMG/flecha-banca.png" alt="" class="flechas" id="flechacontinuar">
                </button>
            </div>
        </div>
    </section>
    <section class="etapas">
        <div class="etapa" id="etapa1">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Informações pessoais
        </div>
        <div class="etapa" id="etapa3">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Operação
        </div>
        <div class="etapa" id="etapa4">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Tipo do imóvel
        </div>
        <div class="etapa" id="etapa5">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Características básicas
        </div>
        <div class="etapa" id="etapa6">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Detalhe imóvel
        </div>
        <div class="etapa" id="etapa7">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Valores

        </div>
        <div class="etapa" id="etapa8">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Localização
        </div>
        <div class="etapa" id="etapa9">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Imagens
        </div>
        <div class="etapa" id="etapa10">
            <div class="icon">
                <iconify-icon icon="carbon:view"></iconify-icon>
            </div>
            Pré-visualização
        </div>

    </section>
    <div class="bar-mobile">
        <div class="etapa-bar">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Informações pessoais
        </div>
        <div class="barra-vertical"></div>
        <div class="etapa-bar">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Operação
        </div>
    </div>
</section>