
<link rel="stylesheet" href="../../../css/PublicarImovelCliente/publiImovelCliente8.css">


<section class="main">
        <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div id="topo">
                Pré-visualização do imóvel
                <button id="publicar" onclick="window.location.href='/publicarImovel9';">
                    Publicar
                </button>
            </div>
            <div id="conjunto-slides">
                <div class="mySlides">
                    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <img src="../../../img/Rectangle 68.png" alt="" srcset="">
                    <img src="../../../img/Rectangle 69.png" alt="" srcset="">
                    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
                </div>
                <div class="mySlides">
                    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <img src="../../../img/Rectangle 69.png" alt="" srcset="">
                    <img src="../../../img/Rectangle 68.png" alt="" srcset="">
                    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
                </div>
            </div>

            <div id="info-geral">

                <div id="info-imovel">
                    <div id="info-publicacao">
                        <button id="venda">Venda</button>
                        <div id="publicado">
                            <iconify-icon icon="lucide:calendar"></iconify-icon>
                            Publicado: 02/10/2023
                        </div>
                        ID: 123456789
                    </div>

                    <div id="titulo-imovel">
                        Apartamento
                    </div>
                    <div id="lugar">
                        <div>
                            <div id="localizacao">
                                <iconify-icon icon="icon-park-outline:local-two"></iconify-icon>
                                Localização
                            </div>
                            <p>Rua dos Sargentos, 32, Vitória, Salvador</p>
                        </div>
                        <button id="mapa">
                            <iconify-icon icon="material-symbols:map-outline"></iconify-icon>
                            Abrir no mapa
                        </button>
                    </div>
                    <h4>Descrição</h4>
                    <p id="paragrafo">Lorem ipsum dolor sit amet consectetur. Et donec adipiscing orci non et et. Est
                        tortor gravida
                        orci
                        eu egestas in placerat. Dui mauris eget odio ipsum tortor dictum adipiscing integer arcu. Mi
                        tempor
                        hac purus semper ultricies. Etiam urna faucibus proin nunc eu. Risus ut erat venenatis fames.
                        Tristique a placerat lacus vel nunc quis mauris. Sit iaculis sodales viverra eu id sed porttitor
                        sagittis. Massa commodo condimentum quam donec. Lacus euismod arcu cras elit amet.
                        Pretium a pellentesque tempor eu curabitur nisl felis. Sit scelerisque donec venenatis felis
                        etiam.
                        Risus volutpat arcu sed ut pellentesque sed. Sapien.</p>
                    <div id="nome-info">
                        <div class="numero">
                            <div class="labelimg">
                                <iconify-icon icon="mdi:bed-outline" class="info-icone"></iconify-icon>
                                <label for="" class="label-caixas">Quartos</label>
                            </div>
                            <div class="inteiro">4</div>
                        </div>
                        <div class="numero">
                            <div class="labelimg">
                                <iconify-icon icon="iconoir:bathroom" class="info-icone"></iconify-icon>
                                <label for="" class="label-caixas">Banheiros</label>
                            </div>
                            <div class="inteiro">2</div>
                        </div>
                        <div class="numero">
                            <div class="labelimg">
                                <iconify-icon icon="majesticons:car-line" class="info-icone"></iconify-icon>
                                <label for="" class="label-caixas">Vagas</label>
                            </div>
                            <div class="inteiro">2</div>
                        </div>
                        <div class="numero" id="area-imovel">
                            <div class="labelimg" id="area-imovel">
                                <iconify-icon icon="iconoir:ruler" class="info-icone"></iconify-icon>
                                <label for="" class="label-caixas" id="area-imovel">Área do imóvel</label>
                            </div>
                            <div class="inteiro">108 m²</div>
                        </div>
                    </div>
                </div>
                <div id="area-reservada">
                    <h4>Valor do imóvel</h4>
                    <h1>R$ 200.000,00</h1>
                    <div id="apartamento-info">
                        <div class="colunas-apartamento">
                            <div class="info-visita">
                                <h4>Condomínio</h4>
                                <h3>R$ 600,00</h3>
                            </div>
                            <div class="info-visita">
                                <h4>Em construção</h4>
                                <h3>Não</h3>
                            </div>
                            <div class="info-visita">
                                <h4>Nº Andares</h4>
                                <h3>11</h3>
                            </div>
                        </div>
                        <div class="colunas-apartamento">
                            <div class="info-visita">
                                <h4>IPTU</h4>
                                <h3>R$ 1200 (12X)</h3>
                            </div>
                            <div class="info-visita">
                                <h4>Data de entrega</h4>
                                <h3>02/08/2019</h3>
                            </div>

                            <div class="info-visita">
                                <h4>Condomínio</h4>
                                <h3>Sim</h3>
                            </div>
                        </div>
                    </div>
                    <button id="tirar-duvida">
                        <iconify-icon icon="majesticons:chat-line"></iconify-icon>
                        Tirar uma dúvida
                    </button>
                    <button id="agendar-visita">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        Agendar visita
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../../../js/PublicarImovelCorretor/publicarimovelcorretor8.js"></script>