
<link rel="stylesheet" href="../../../css/PublicarImovelCliente/publiImovelCliente9.css">


<section class="main">
       <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div>
            <h1>Tem certeza?</h1>
            <h2>Confirme todas as informações do seu imóvel antes de solicitar a publicação. Você não poderá cancelar
                depois, ainda que possa ter seu pedido rejeitado.</h2>
            </div>
            <div id="escolha">
                <button id="cancelar">
                    Não, cancelar
                </button>
                <button id="continuar" onclick= "window.location.href ='/publicarImovel10';">
                    Sim, tenho certeza
                </button>

            </div>
        </div> 
    </div>
</section>

<script src="../../../js/PublicarImovelCorretor/publicarimovelcorretor9.js"></script>