
<link rel="stylesheet" href="../../../css/PublicarImovelCliente/publiImovelCliente3.css">

<script src="https://kit.fontawesome.com/854bbac24e.js" crossorigin="anonymous"></script>

<section class="main">
    <section class="publicacao">
        <div class="legenda">
            <p>Publique seu imóvel</p>
            <div class="legenda-etapa">
                <iconify-icon icon="ph:house-light"></iconify-icon>
                Tipo do Imóvel
            </div>
            <p>Qual o tipo do imóvel que será publicado?
            </p>
        </div>
        <div class="formulario">
            <div class="coluna">
                <button class="sub-coluna">
                    <iconify-icon icon="ph:house-light" class="icones"></iconify-icon>
                    Casa
                </button>

                <button class="sub-coluna">
                    <iconify-icon icon="heroicons:building-office" class="icones"></iconify-icon>
                    Kitnet/Studio
                </button>
            </div>
            <div class="coluna">
                <button class="sub-coluna">
                    <iconify-icon icon="heroicons:building-office" class="icones"></iconify-icon>
                    Apartamento
                </button>

                <button class="sub-coluna">
                    <iconify-icon icon="heroicons:building-office" class="icones"></iconify-icon>
                    Sala Comercial
                </button>
            </div>

            <button id="coluna">
                <iconify-icon icon="mingcute:background-line" class="icones"></iconify-icon>
                Lote
            </button>
        </div>

        <div id="direcao">
            <div id="voltar">
                <button class="botoes" id="botaovoltar" onclick="window.location.href='/publicarImovel2';">
                    <img src="../../../img/flecha-branca-esquerda.png" alt="" class="flechas" id="flechavoltar">Voltar
                </button>
            </div>
            <div>
                <button class="botoes" id="botaocontinuar" onclick="window.location.href='/publicarImovel4';">
                    Continuar <img src="../../../img/flecha-banca.png" alt="" class="flechas" id="flechacontinuar">
                </button>
            </div>
        </div>
    </section>
    <section class="etapas">
        <div class="etapa" id="etapa1">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Informações pessoais
        </div>
        <div class="etapa" id="etapa3">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Operação
        </div>
        <div class="etapa" id="etapa4">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Tipo do imóvel
        </div>
        <div class="etapa" id="etapa5">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Características básicas
        </div>
        <div class="etapa" id="etapa6">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Detalhe imóvel
        </div>
        <div class="etapa" id="etapa7">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Valores

        </div>
        <div class="etapa" id="etapa8">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Localização
        </div>
        <div class="etapa" id="etapa9">
            <div class="icon">
                <iconify-icon icon="carbon:view"></iconify-icon>
            </div>
            Pré-visualização
        </div>

    </section>
    <div class="bar-mobile">
        <div class="etapa-bar">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Informações pessoais
        </div>
        <div class="barra-vertical"></div>
        <div class="etapa-bar">
            <div class="icon">
                <iconify-icon icon="octicon:check-16"></iconify-icon>
            </div>
            Operação
        </div>
    </div>
</section>

