<link rel="stylesheet" href="../../../css/PublicarImovelCliente/publiImovelCliente.css">

<section class="main">


<section class="publicacao">
    <div class="legenda">
        <p>Publique seu imóvel</p>
        <div class="legenda-etapa">
            <iconify-icon icon="carbon:person"></iconify-icon>
            Informações pessoais
        </div>
        <p>Preencha seus dados pessoais para publicar um imóvel conosco. Essas informações serão utilizadas para
            identificar você, proprietário,
            e garantir a segurança de nossos clientes.
        </p>
    </div>
    <div class="formulario">
        <form action="">
            <div class="nome">
                <label for="nome-usuario">Nome Completo</label>
                <input type="text" placeholder="Digite seu nome...">
            </div>
            <div class="email">
                <label for="email-usuario">E-mail</label>
                <input type="email" placeholder="Digite seu e-mail...">
            </div>
            <div class="cpf">
                <label for="cpf-usuario">CPF</label>
                <input type="text" placeholder="Digite seu CPF...">
            </div>
            <div class="telefone">
                <label for="telefone-usuario">Telefone</label>
                <input type="text" placeholder="Digite seu telefone...">
            </div>
        </form>
    </div>
    <div class="botoes">
        
        <button onclick="window.location.href='/publicarimovel2';">
            Continuar
        </button>
        
    </div>
</section>
<section class="etapas">
    <div class="etapa" id="etapa1">
        <div class="icon">
            <iconify-icon icon="octicon:check-16"></iconify-icon>
        </div>
        Informações pessoais
    </div>
    <div class="etapa" id="etapa3">
        <div class="icon">
            <iconify-icon icon="octicon:check-16"></iconify-icon>
        </div>
        Operação
    </div>
    <div class="etapa" id="etapa4">
        <div class="icon">
            <iconify-icon icon="octicon:check-16"></iconify-icon>
        </div>
        Tipo do imóvel
    </div>
    <div class="etapa" id="etapa5">
        <div class="icon">
            <iconify-icon icon="octicon:check-16"></iconify-icon>
        </div>
        Características básicas
    </div>
    <div class="etapa" id="etapa6">
        <div class="icon">
            <iconify-icon icon="octicon:check-16"></iconify-icon>
        </div>
        Detalhe imóvel
    </div>
    <div class="etapa" id="etapa7">
        <div class="icon">
            <iconify-icon icon="octicon:check-16"></iconify-icon>
        </div>
        Valores

    </div>
    <div class="etapa" id="etapa8">
        <div class="icon">
            <iconify-icon icon="octicon:check-16"></iconify-icon>
        </div>
        Localização
    </div>
    <div class="etapa" id="etapa9">
        <div class="icon">
            <iconify-icon icon="carbon:view"></iconify-icon>
        </div>
        Pré-visualização
    </div>

</section>
<div class="bar-mobile">
    <div class="etapa-bar">
        <div class="icon">
            <iconify-icon icon="octicon:check-16"></iconify-icon>
        </div>
        Informações pessoais
    </div>
    <div class="barra-vertical"></div>
    <div class="etapa-bar">
        <div class="icon">
            <iconify-icon icon="octicon:check-16"></iconify-icon>
        </div>
        Operação
    </div>
</div>
</section>