<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../css/calendario.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <title>Calendário</title>
</head>
<body>
    <div class="container">
      <div class="titulo-pagina">
        <h1> Calendário </h1>
      </div>
        <hr>
        
      <div class="calendar">
        <div class="header">
       <div>
          
          <div class="cabecalho-edicao">
          
            <div class="btns">
                <div class="btn prev-btn">
                  <i class="fas fa-chevron-left"></i>
                </div>
                <div class="month">
              
                </div>
                <div class="btn next-btn">
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="btn today-btn">
                  <i class="fas fa-calendar-day"></i>
                </div>
            </div>
            <div class="continuar">
                <iconify-icon id="icone" icon="uil:pen"></iconify-icon>
                <button id="botao">Editar legenda </button>
              </div>

          </div>
          
        <div class="weekdays">
          <div class="day" >Dom</div>
          <div class="day">Seg</div>
          <div class="day">Ter</div>
          <div class="day">Qua</div>
          <div class="day">Qui</div>
          <div class="day">Sex</div>
          <div class="day">Sab</div>
        </div>
        <hr>
        <div class="days">

        </div>
      </div>
      <hr>
        </div>
      </div>
    <script src="../../js/calendario.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>
