<link rel="stylesheet" href="../../css/detalheImovel.css">

<main>
    <div class="retorno"> 
        <a href="/">
            <iconify-icon icon="ep:arrow-left"></iconify-icon>
            Página Inicial/
        </a>
        <span>Imóvel</span> 
    </div>

    <section class="imagens-imovel" id="imagens-imovel">
        
        <div class="container-grid">
            <div class="imagem-imovel primeiro" id="imagem-imovel">
                <img src="../../img/img-detalhe-imovel.jpeg" alt="">
            </div>

            <div class="imagem-imovel segundo" id="imagem-imovel">
                <img src="../../img/img-detalhe-imovel.jpeg" alt="">

            </div>

            <div class="imagem-imovel terceiro" id="imagem-imovel">
                <img src="../../img/img-detalhe-imovel.jpeg" alt="">
                <button class="mais-imagens" onclick="verImagens()">Ver mais imagens</button>
            </div>
        </div>
    </section>

</main>

<script src="../../js/detalheImovel.js"></script>