<link rel="stylesheet" href="../../css/detalheImovel.css">

<main id="main">
    <div class="retorno">
        <a href="/">
            <iconify-icon icon="ep:arrow-left"></iconify-icon>
            Página Inicial/
        </a>
        <span>Imóvel</span>
    </div>

    <section class="container-imovel" id="container-imovel">

        <div class="container-grid">

            <div class="grid">
                <div class="imagem-imovel primeiro" id="imagem-imovel">
                    <img src="../../img/img-detalhe-imovel.jpeg" alt="">
                </div>

                <div class="imagem-imovel segundo" id="imagem-imovel">
                    <img src="../../img/img-detalhe-imovel.jpeg" alt="">
                </div>

                <div class="imagem-imovel terceiro" id="imagem-imovel">
                    <img src="../../img/img-detalhe-imovel.jpeg" alt="">

                </div>

                <div class="imagem-imovel quarto" id="imagem-imovel">
                    <button class="mais-imagens" onclick="verImagens()">Ver mais imagens</button>
                </div>
            </div>

        </div>

        <div class="detalhes-imovel">

            <div class="info-imovel">

                <div class="cabecalho-info">
                    <div class="operacao-imovel">
                        <p class="operacao" id="operacao-imovel">Comprar</p>
                    </div>
                    <div class="data-publicacao" id="data-publicacao">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        <p class="data-publi" id="data-publi">08/09/2023</p>
                    </div>
                    <p class="id-imovel" id="id-imovel">ID: 789654</p>
                </div>

                <p class="tipo-imovel" id="tipo-imovel">Apartamento</p>

                <div class="localizacao">

                    <div class="titulo-localizacao">
                        <iconify-icon icon="icon-park-outline:local-two"></iconify-icon>
                        Localização
                    </div>

                    <div class="endereco-mapa">
                        <p class="endereco-imovel" id="endereco-imovel">
                            Rua dos Sargentos, 32, Vitória, Salvador
                        </p>
                        <button class="abrir-mapa" id="abrir-mapa" onclick="abrirMapa()">
                            <iconify-icon icon="material-symbols:map-outline"></iconify-icon>
                            Abrir no mapa
                        </button>
                    </div>
                </div>
                <div class="descricao">
                    <p>Descrição</p>

                    <p class="descricao-imovel" id="descricao-imovel">
                        Lorem ipsum dolor sit amet consectetur. Et donec adipiscing orci non et et.
                        Est tortor gravida orci eu egestas in placerat. Dui mauris eget odio ipsum tortor
                        dictum adipiscing integer arcu. Mi tempor hac purus semper ultricies. Etiam urna faucibus proin
                        nunc
                        eu. Risus ut erat venenatis fames. Tristique a placerat lacus vel nunc quis mauris. Sit iaculis
                        sodales viverra eu id sed porttitor sagittis. Massa commodo condimentum quam donec.
                        Lacus euismod arcu cras elit amet.
                        Pretium a pellentesque tempor eu curabitur nisl felis. Sit scelerisque donec venenatis
                        felis etiam. Risus volutpat arcu sed ut pellentesque sed. Sapien.
                    </p>
                </div>
                <div class="carac-imovel" id="carac-imovel">
                    <div class="sub-carac">
                        <div class="titulo-carac">
                            <iconify-icon icon="mdi:bed-outline"></iconify-icon>
                            Quartos
                        </div>
                        <p id="valor-quarto">14</p>
                    </div>

                    <div class="sub-carac">

                        <div class="titulo-carac">
                            <iconify-icon icon="iconoir:bathroom"></iconify-icon>
                            Banheiros
                        </div>
                        <p id="valor-banheiro">6</p>
                    </div>
                    <div class="sub-carac">
                        <div class="titulo-carac">
                            <iconify-icon icon="majesticons:car-line"></iconify-icon>
                            Vagas
                        </div>
                        <p id="valor-vaga">3</p>
                    </div>
                    <div class="sub-carac">
                        <div class="titulo-carac">
                            <iconify-icon icon="iconoir:ruler"></iconify-icon>
                            Área do imóvel
                        </div>
                        <p id="valor-area">108 m²</p>
                    </div>

                </div>
            </div>

            <div class="lateral-info-imovel">

                <div class="preco-imovel" id="preco-imovel">
                    <p class="titulo-info">Valor do imóvel</p>
                    <p class="valor"> R$ 200.000,00</p>
                </div>

                <div class="line-info">
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">Condomínio</p>
                        <p class="valor-info" id="valor-condominio-imovel">R$ 600,00</p>
                    </div>
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">IPTU</p>
                        <p class="valor-info" id="iptu-imovel">R$ 1.200 <span id="parcela">(12x)</span></p>
                    </div>
                </div>
                <div class="line-info">
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">Em construção</p>
                        <p class="valor-info" id="construcao-imovel">Não</p>
                    </div>
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">Data de entrega</p>
                        <p class="valor-info" id="iptu-imovel">02/08/2019</p>
                    </div>
                </div>
                <div class="line-info">
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">N° Andares</p>
                        <p class="valor-info" id="andares-imovel">11</p>
                    </div>
                    <div class="sub-info-imovel">
                        <p class="sub-titulo-info">Em condomínio</p>
                        <p class="valor-info" id="condominio-imovel">Sim</p>
                    </div>
                </div>

                <div class="buttons-lateral">
                    <button class="tirar-duvida" id="tirar-duvida">
                        <iconify-icon icon="majesticons:chat-line"></iconify-icon>
                        Tirar uma dúvida
                    </button>
                    <button class="agendar-visita" id="agendar-visita">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        Agendar visita
                    </button>
                </div>


            </div>

        </div>

        <div class="imovel-footer">
            <p>Parecido com o que você buscou</p>
            <div class="cards-imoveis">
                <div class="card-imovel">
                    <div class="img-card">
                        <img src="../../img/img-card-imovel.jfif" alt="">
                        <div class="operacao-imovel-card">
                            <p id="operacao-imovel">Comprar</p>
                        </div>
                    </div>
                    <div class="conteudo-card">
                        <div class="line-conteudo">
                            <div class="line">
                                <p class="tipo-imovel" id="tipo-imovel">Apartamento</p>
                                <p class="preco-imovel" id="preco-imovel">R$ 500.000</p>
                            </div>
                            <div class="line">
                                <p class="endereco-imovel" id="endereco-imovel"> Pituba - Salvador </p>
                                <p class="id-imovel" id="id-imovel">ID: 478547</p>
                            </div>
                        </div>

                        <div class="caracteristicas">
                            <div class="item-carac">
                                <iconify-icon icon="mdi:bed-outline"></iconify-icon>
                                <p id="quarto-imovel">8 qua.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:bathroom"></iconify-icon>
                                <p id="banheiro-imovel">4 ban.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="majesticons:car-line"></iconify-icon>
                                <p id="vaga-imovel">2 vagas</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:ruler"></iconify-icon>
                                <p id="area-imovel">104m²</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-imovel">
                    <div class="img-card">
                        <img src="../../img/img-card-imovel.jfif" alt="">
                        <div class="operacao-imovel-card">
                            <p id="operacao-imovel">Comprar</p>
                        </div>
                    </div>
                    <div class="conteudo-card">
                        <div class="line-conteudo">
                            <div class="line">
                                <p class="tipo-imovel" id="tipo-imovel">Apartamento</p>
                                <p class="preco-imovel" id="preco-imovel">R$ 500.000</p>
                            </div>
                            <div class="line">
                                <p class="endereco-imovel" id="endereco-imovel"> Pituba - Salvador </p>
                                <p class="id-imovel" id="id-imovel">ID: 478547</p>
                            </div>
                        </div>
                        <div class="caracteristicas">
                            <div class="item-carac">
                                <iconify-icon icon="mdi:bed-outline"></iconify-icon>
                                <p id="quarto-imovel">8 qua.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:bathroom"></iconify-icon>
                                <p id="banheiro-imovel">4 ban.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="majesticons:car-line"></iconify-icon>
                                <p id="vaga-imovel">2 vagas</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:ruler"></iconify-icon>
                                <p id="area-imovel">104m²</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-imovel">
                    <div class="img-card">
                        <img src="../../img/img-card-imovel.jfif" alt="">
                        <div class="operacao-imovel-card">
                            <p id="operacao-imovel">Comprar</p>
                        </div>
                    </div>
                    <div class="conteudo-card">
                        <div class="line-conteudo">
                            <div class="line">
                                <p class="tipo-imovel" id="tipo-imovel">Apartamento</p>
                                <p class="preco-imovel" id="preco-imovel">R$ 500.000</p>
                            </div>
                            <div class="line">
                                <p class="endereco-imovel" id="endereco-imovel"> Pituba - Salvador </p>
                                <p class="id-imovel" id="id-imovel">ID: 478547</p>
                            </div>
                        </div>
                        <div class="caracteristicas">
                            <div class="item-carac">
                                <iconify-icon icon="mdi:bed-outline"></iconify-icon>
                                <p id="quarto-imovel">8 qua.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:bathroom"></iconify-icon>
                                <p id="banheiro-imovel">4 ban.</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="majesticons:car-line"></iconify-icon>
                                <p id="vaga-imovel">2 vagas</p>
                            </div>
                            <div class="item-carac">
                                <iconify-icon icon="iconoir:ruler"></iconify-icon>
                                <p id="area-imovel">104m²</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="teste">
        <div class="bloco">
            <div class="card">1</div>
            <div class="card">2</div>
            <div class="card">3</div>
            <div class="card">4</div>
            <div class="card">5</div>
            <div class="card">6</div>
        </div>
        <div class="bloco">
            <div class="card">7</div>
            <div class="card">8</div>
            <div class="card">9</div>
            <div class="card">10</div>
            <div class="card">11</div>
            <div class="card">12</div>
        </div>

        <button class="antes" id="antes"> <= </button>
        <button class="depois" id="depois"> => </button>
    </div>

    <div class="mapaContainer" id="mapaContainer">
        <div class="area-mapa" id="area-mapa">

        </div>
    </div>

    <div class="modalImagens" id="modalImagens">
        <div class="conteudoModal">

            <div class="imagens-slide">
                <div class="imagem-slide" id="imagemSlide">
                    1
                </div>
                <div class="imagem-slide" id="imagemSlide">
                    2
                </div>
                <div class="imagem-slide" id="imagemSlide">
                    3
                </div>
                <div class="imagem-slide" id="imagemSlide">
                    4
                </div>
                <div class="imagem-slide" id="imagemSlide">
                    5
                </div>
                <div class="imagem-slide" id="imagemSlide">
                    6
                </div>

                <div class="botoes-slide" id="botoesSlide">
                    <button class="btn-antes-slide" id="antesSlide" onclick="addSlide(-1)"> 
                        <iconify-icon icon="ep:arrow-left"></iconify-icon> 
                    </button>
                    <button class="btn-depois-slide" id="depoisSlide" onclick="addSlide(1)"> 
                        <iconify-icon icon="ep:arrow-right"></iconify-icon>
                    </button>
                </div>

            </div>

            <div class="imagens-carrossel">
                <div class="bloco-imagens" id="blocoImagens">
                    <div class="imagem-carrossel" id="imagemCarrossel">1</div>
                    <div class="imagem-carrossel" id="imagemCarrossel">2</div>
                    <div class="imagem-carrossel" id="imagemCarrossel">3</div>
                    <div class="imagem-carrossel" id="imagemCarrossel">4</div>
                    <div class="imagem-carrossel" id="imagemCarrossel">5</div>
                    <div class="imagem-carrossel" id="imagemCarrossel">6</div>
                </div>
                <div class="bloco-imagens" id="blocoImagens">
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                    <div class="imagem-carrossel" id="imagemCarrossel"></div>
                </div>
            
                <div class="botoes-control" id="botoesControl">
                    <button class="antes" id="antes" onclick="addCarrossel(-1)"> 
                        <iconify-icon icon="ep:arrow-left"></iconify-icon> 
                    </button>
                    <button class="depois" id="depois" onclick="addCarrossel(1)"> 
                        <iconify-icon icon="ep:arrow-right"></iconify-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="../../js/detalheImovel.js"></script>