<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/faleConosco.css">
    <title>Fale Conosco</title>
</head>
<body>
    <main>
        <section class="hero-form">
            <div class="img-hero">
                <h4>“A Ama Mad Lop Operw Ladmeosa Do Plastio
                Plawert Yower Loamwn Powqlw Junasicme Poaloe”</h4>
                <p>Maria Conceição</p>
                <p>Cliente House&Lar</p>
            </div>
            <div class="area-form">
                <h3>Vamos adorar te ajudar! Mande uma mensagem com o que você precisa para nós.</h3>
                <form action="">
                    <div class="nome">
                        <label for="nome-usuario">Seu nome</label>
                        <input type="text" name="nome-usuario" id="nome-usuario" placeholder="Nome e sobrenome">
                    </div>
                    <div class="email">
                        <label for="email-usuario">Seu e-mail</label>
                        <input type="email" name="email-usuario" id="email-usuario" placeholder="Seu e-mail">
                    </div>
                    <div class="mensagem">
                        <label for="nome-usuario">Sua mensagem</label>
                        <textarea name="mensagem-usuario" id="mensagem-usuario" cols="30" rows="10" placeholder="Digite aqui..."></textarea>
                    </div>
                    <button class="enviar-mensagem" id="enviar-mensagem" type="submit">
                        Enviar mensagem <iconify-icon icon="ph:arrow-right"></iconify-icon>
                    </button>
                </form>
            </div>
        </section>
        <section class="endereco">
            <div class="dados-endereco">
                <h4>Nos encontre</h4>
                    <div class="telefone">
                        <iconify-icon icon="ic:outline-phone"></iconify-icon>
                        (71)9-9784-0523
                    </div>
                    <div class="email">
                        <iconify-icon icon="ic:outline-email"></iconify-icon>
                        houseandlar@gmail.com
                    </div>
                    <div class="texto-endereco">
                        <iconify-icon icon="icon-park-outline:local-two"></iconify-icon>
                        Rua dos Vereadores 48, Pituba, Salvador
                    </div>
            </div>
            <div class="mapa-endereco">
            </div>
        </section>
    </main>
</body>
</html>