<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link href="../../css/loginCorretor.css" rel="stylesheet" />
    <title>Login</title>
  </head>

  <body>
    <div class="conteiner">
      <div id="metade1">
        <section id="cabecalho">
          <h3>Log in</h3>
          <p>Insira suas credenciais para entrar</p>
        </section>

        <form action="/public/autenticar" method="post">
          <label for="email" class="form-label">E-mail</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
            placeholder="Seu endereço de email"
          />

          <label for="senha" class="form-label">Senha</label>
          <input
            type="password"
            name="senha"
            class="form-control"
            id="senha"
            placeholder="Sua senha"
          />

          <div id="esqueceu-senha">
            <p><a href="/esqueceuSenha">Esqueceu a senha?</a></p>
          </div>
          <button type="submit" id="btnLogin"> Fazer Login </button>
        </form>
      </div>
      <section id="metade2">
        <h3>Gerencie tudo em um só lugar</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Urna a cursus odio a ornare
          vitae. Quis feugiat orci.</p>
        <div id="div-imagem">
          <img
            src="./IMG/pag-inicial.png"
            alt="Foto da página inicial do site da House&Lar"
          />
        </div>
      </section>
    </div>
  </body>

</html>
