<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="../../css/perfilUsuario.css" rel="stylesheet">
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <script src="../../js/perfilUsuario.js"></script>
        <title>Document</title>
    </head>

    <body>
        <!--O perfil do usuário é apenas um menu lateral, então todas as partes importantes do HTML estão dentro do nav.
        Todo o resto está aqui apenas para que o HTML pudesse rodar para que eu fosse capaz de testar o menu. Não deve
        dar muito problema só extrair o nav daqui e jogar no arquivo principal-->
        <nav>
            <div id="div-seta">
                <a href=><iconify-icon id="seta" icon="ep:arrow-down" rotate="270deg" flip="vertical"></iconify-icon><h3 id="voltar">Voltar</h3></a>
            </div>
            <section id="seu-perfil">
                <div id="titulo-perfil">
                    <iconify-icon id="icone-seu-perfil" icon="iconoir:profile-circle" style="color: #616161;"></iconify-icon>
                    <h4>Seu perfil</h4>
                </div>
                
                <div>
                    <div id="imagem">
                        <img src="./IMG/foto-vazia.jpg" alt="Foto de perfil padrão">
                        <button id="botao" class="editar-perfil"><iconify-icon icon="tabler:photo-plus" style="color: white; font-size: 22px; padding-top: 7px;"></iconify-icon></button>
                    </div>
                </div>
            </section>

            <div class="editar-perfil">
                <div id="div-editar">
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Nome e sobrenome</label>
                          <input type="text" class="form-control" id="exampleInputText1" aria-describedby="emailHelp" placeholder="Atualize seu nome...">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite seu novo e-mail...">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputTel1">Telefone</label>
                            <input type="tel" class="form-control" id="exampleInputTel1" placeholder="Digite seu novo telefone...">
                          </div>
                          <!--Tudo está escrito "placeholder" porque essas informações precisam ser extraídas de um banco de dados, não escritas em um HTML puro.
                          Como preencher cada uma das informações não teria muito propósito, eu só coloquei um texto genérico em cada uma-->
                        <button type="submit" class="btn btn-primary" id="botao-salvar" onclick="esconderEdicao()" style="background-color:#9D0058; border: none;"><iconify-icon icon="uil:save" id="icone-salvar" style="color: white;"></iconify-icon>Salvar</button>
                      </form>
                </div>
            </div>
            

            <div id="conteiner">
                <div id="dados-usuario">
                    <div id="u-fileira-1" class="fileira">
                        <section id="nome" class="seção">
                            <h4>Nome</h4>
                            <p>placeholder</p>
                        </section>
                            
                        <section id="email" class="seção">
                            <h4>E-mail cadastrado</h4>
                            <p>placeholder</p>
                        </section>
                    </div>
                    <div id="u-fileira-2" class="fileira">
                        <section id="telefone" class="seção">
                            <h4>Telefone</h4>
                            <p>placeholder</p>
                        </section>
    
                        <section id="data" class="seção">
                            <h4>Data de cadastro</h4>
                            <p>placeholder</p>
                        </section>
                    </div>
                </div>
    
                <section id="jornada-titulo">
                    <h4><iconify-icon id="icone-jornada" icon="ant-design:node-index-outlined" style="color: #616161;"></iconify-icon> Jornada</h4>
                </section>
                <div id="dados-jornada">
                    <div id="j-fileira-1" class="fileira">
                        <section id="imoveis" class="seção">
                            <h4>Imóveis publicados</h4>
                            <p>placeholder</p>
                        </section>
    
                        <section id="noticias" class="seção">
                            <h4>Notícias publicadas</h4>
                            <p>placeholder</p>
                        </section>
                    </div>
                    <div id="j-fileira-2" class="fileira">
                        <section id="msgs" class="seção">
                            <h4>Mensagens recebidas</h4>
                            <p>placeholder</p>
                        </section>
    
                        <section id="visitas" class="seção">
                            <h4>Visitas marcadas</h4>
                            <p>placeholder</p>
                        </section>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" id="botao-lapis" onclick="mostrarEdicao()" style="background-color: #9D0058; border: none;"><iconify-icon id="icone-lapis" icon="solar:pen-outline" style="color: white;"></iconify-icon>Editar Perfil</button>
            </div>
        </nav>
    </body>
</html>