<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/sobrenos.css" />
    <title></title>
</head>
<body>
    <main>
        <section class="hero-fale-conosco">
            <div class="img-hero">
                <img src="../../img/img-hero-sobre-nos.jpeg" alt="">
            </div>
            <div class="texto-hero">
                <img src="../../img/img-bridge.png" alt="" width="80px" height="80px">
                <h2>Construímos pontes entre você <span>e seu sonho</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur. Cursus fermentum proin quam suspendisse pretium pellentesque rhoncus. 
                Augue lorem nec elementum est libero vestibulum elit a. 
                Euismod eget nulla nulla tempus. Vulputate eu dui ut nullam mattis. Dictum mauris elit.</p>
                
            </div>
        </section>

        <section class="feedback">
            <div class="div-feedback">
                <p class="aspas">"</p>
                <div class="conteudo-feedback">
                    <h4>Lorem ipsum dolor sit amet consectetur. Cursus fermentum proin quam 
                        suspendisse pretium pellentesque rhoncus.
                        Augue lorem nec elementum est libero vestibulum elit a.
                    </h4>
                    <p>Maria Conceição</p>
                </div>
                <p class="aspas">"</p>
            </div>
            <div class="div-feedback">
                <p class="aspas">"</p>
                <div class="conteudo-feedback">
                    <h4>
                        Lorem ipsum dolor sit amet consectetur. Cursus fermentum proin quam 
                        suspendisse pretium pellentesque rhoncus.
                    </h4>
                    <p>Gabriela Santana</p>
                </div>
                <p class="aspas">"</p>
            </div>
            <button class="voltar" onclick="addSlide(-1)"><iconify-icon icon="ep:arrow-left"></iconify-icon></button>
            <button class="proximo" onclick="addSlide(+1)"><iconify-icon icon="ep:arrow-right"></iconify-icon></button>
        </section>

        <section class="motivos">
            <h2>Por quê nos escolher?</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Amet mi ut consequat risus sed amet. 
                Nisi sed dictumst et justo velit. Lacus quam tristique felis egestas sed convallis massa elementum. 
                Tortor ornare vitae velit eget interdum semper varius consequat velit. 
                Commodo pretium purus elit vestibulum euismod. Suspendisse nec placerat fermentum vel. Praesent est viverra.
            </p>
            <div class="cards-motivos">

                <div class="card-motivo">
                    <div class="fundo-icon">
                        <iconify-icon icon="system-uicons:diamond"></iconify-icon>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur. Amet mi ut consequat risus sed amet.</p>
                </div>

                <div class="card-motivo">
                    <div class="fundo-icon">
                        <iconify-icon icon="mdi:partnership-outline"></iconify-icon>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur. Amet mi ut consequat risus sed amet.</p>
                </div>

                <div class="card-motivo">
                    <div class="fundo-icon">
                        <iconify-icon icon="codicon:workspace-trusted"></iconify-icon>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur. Amet mi ut consequat risus sed amet.</p>
                </div>

                <div class="card-motivo">
                    <div class="fundo-icon">
                        <iconify-icon icon="mdi:heart-outline"></iconify-icon>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur. Amet mi ut consequat risus sed amet.</p>
                </div>

            </div>
        </section>

        <section class="decisao">
            <h2>Decidido? Vem encontrar a gente</h2>
            <p>Rua dos Vereadores 48, Pituba, Salvador</p>
            <div class="img-decisao">
                <img src="../../img/img-map-fale-conosco-temp.png">
            </div>
        </section>

        <section class="entrar-contato">
            <div class="texto-contato">
                <h2>Entre em contato</h2>
                <p>
                    Para qualquer dúvida, sugestão ou orçamento, entre em contato conosco. 
                    Responderemos o mais rápido possível.
                </p>
            </div>
            <a href="/faleConosco" class="link-fale-conosco">Entrar em contato</a>
        </section>

    </main>

    <script src="../../js/sobrenos.js"></script>
</body>
</html>

