<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitações</title>
    <link rel="stylesheet" href="../../css/solicitacoes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <main>
    <div class="separa">
        <h1>Solicitações</h1>

        <div class="container mt-4">
            <div class="dropdown" id="filtroDropdown">
                <div class="btn btn-secondary">Filtre por</div>
                <div class="dropdown-content">
                    <p class="Ode">Ordenação</p>
                    <a id="az" href="#">Mais recente</a>
                    <a id="az" href="#">Mais antigo</a>
                    <div class="dropdown-divider"></div>
                    <p class="Ode">Operação</p>
                    <a href="#">Aluguel</a>
                    <a href="#">Venda</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-background" id="modalBackground">
        <div class="modal-content">
            <div class="all">
                <p>Detalhes da solicitação</p>
                <div class=".carrossel-conteiner">

                    <div class="carrossel">

                        <div class="slide"><img src="../../img/img-imovel-solicitacao.png" alt=""></div>
                        <div class="slide"><img src="" alt=""></div>
                        <div class="slide"><img src="" alt=""></div>
                    </div>

                </div>
                <div class="sepaa">
                    <div class="parte1">

                        <div class="coisas">

                            <div class="but_venda">

                                <p>Venda</p>
                            </div>
                            <p>Solicitado em: 11/11/2024</p>
                        </div>

                        <p>Localização</p>

                        <p>Rua dos Sargentos, 32, Vitória, Salvador</p>
                        <div class="descrip">
                            <p>Descrição</p>
                            <p>Lorem ipsum dolor sit amet consectetur. Et donec adipiscing orci non et et. Est tortor
                                gravida orci eu egestas in placerat. Dui mauris eget odio ipsum tortor dictum adipiscing
                                integer arcu. Mi tempor hac purus semper ultricies. Etiam urna faucibus proin nunc eu.
                                Risus ut erat venenatis fames. Tristique a placerat lacus vel nunc quis mauris. Sit
                                iaculis sodales viverra eu id sed porttitor sagittis. Massa commodo condimentum quam
                                donec. Lacus euismod arcu cras elit amet.
                                Pretium a pellentesque tempor eu curabitur nisl felis. Sit scelerisque donec venenatis
                                felis etiam. Risus volutpat arcu sed ut pellentesque sed. Sapien.</p>
                        </div>
                        <div class="infos">
                            <table class="ot">
                                <thead>
                                    <tr>
                                        <th>Quartos</th>
                                        <th>Banheiros</th>
                                        <th>Vagas</th>
                                        <th>Area do imovel</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <td>
                                        <p>4</p>
                                    </td>

                                    <td>
                                        <p>4</p>
                                    </td>

                                    <td>
                                        <p>4</p>
                                    </td>

                                    <td>
                                        <p> 400 m²</p>
                                    </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="parte2">
                        <div class="cc">
                            <p>Valor do imovel</p>
                            <h2>R$ 200.000,00</h2>
                        </div>
                        <div class="ab">
                            <div class="aa">
                                <p>Condominio</p>
                                <p>R$ 600,00</p>

                                <p>Em construção</p>
                                <p>Não</p>

                                <p>N° de andares</p>
                                <p>11</p>
                            </div>
                            <div class="bb">
                                <p>IPTU</p>
                                <p>R$ 600,00</p>

                                <p>Data de entrega</p>
                                <p>22/11/2030</p>

                                <p>Condominio</p>
                                <p>Sim</p>
                            </div>
                        </div>
                        <div class="reject">Rejeitar solicitação</div>
                        <div class="acept">Publicar Imóvel</div>
                    </div>
                </div>
                <hr class="deu">
                <p>Dados do propietario</p>
                <div class="parte3">
                <div class="dedois">
                    <div class="nome_detalhe">
                        <p>Nome</p>
                        <p>Maria Conceição de Lurdes</p>
                    </div>

                    <div class="email_detalhe">
                        <p>E-mail</p>
                        <p>mariaconceicaolurdes@gmail.com</p>
                    </div>
                </div>
                <div class="dedois">
                    <div class="telefone_detalhe">
                        <p>Telefone</p>
                        <p>(71)9-9999 9999</p>
                    </div>

                    <div class="cpf_detalhe">
                        <p>CPF</p>
                        <p>094.231.154-23</p>
                    </div>
                </div>
            </div>
                <!-- Botão para fechar o modal -->
                <button id="fecharModal">Fechar</button>
            </div>
        </div>
    </div>
    <tr>

        <table>
            <thead>
                <tr>
                    <th class="res">Resumo</th>
                    <th class="sap">Data da Solicitação</th>
                    <th class="sap">Nome Solicitante</th>
                    <th class="sap">Status</th>
                </tr>
            </thead>
            <tbody class="omg">

                <td class="res">
                    <a>
                        <p id="imovel">Apartamento</p>
                        <p id="discri">Rua Jucelina Alemao 480, Pituba, Salvador</p>
                </td>

                <td>
                    <p>20/12/2022</p>
                </td>

                <td>
                    <p>Maria Conceição</p>
                </td>

                <td>
                    <div class="butsoli">Solicitado</div>
                    </a>
                </td>

    </tr>

    <tr>
        <td class="res">
            <a href="solicitacoes.html">
                <p id="imovel">Apartamento</p>
                <p id="discri">Rua Jucelina Alemao 480, Pituba, Salvador</p>
        </td>
        <td>
            <p>20/12/2022</p>
        </td>
        <td>
            <p>Maria Conceição</p>
        </td>

        <td>
            <div class="butrej">Rejeitado</div>
            </a>
        </td>

    </tr>
    <tr>
        <td class="res">
            <a href="solicitacoes.html">
                <p id="imovel">Apartamento</p>
                <p id="discri">Rua Jucelina Alemao 480, Pituba, Salvador</p>
        </td>
        <td>
            <p>20/12/2022</p>
        </td>
        <td>
            <p>Maria Conceição</p>
        <td>
            <div class="butaprov">Publicado</div>
            </a>
        </td>
    </tr>
    <tr>
        <td class="res">
            <a href="solicitacoes.html">
                <p id="imovel">Apartamento</p>
                <p id="discri">Rua Jucelina Alemao 480, Pituba, Salvador</p>
        </td>
        <td>
            <p>20/12/2022</p>
        </td>
        <td>
            <p>Maria Conceição</p>
        </td>
        <td>
            <div class="but">Solicitado</div>
            </a>
        </td>
    </tr>
    <tr>
        <td class="res">
            <a href="solicitacoes.html">
                <p id="imovel">Apartamento</p>
                <p id="discri">Rua Jucelina Alemao 480, Pituba, Salvador</p>
        </td>
        <td>
            <p>20/12/2022</p>
        </td>
        <td>
            <p>Maria Conceição</p>
        </td>
        <td>
            <div class="but">Solicitado</div>
            </a>
    </tr>
    <tr>
        <td class="res">
            <a href="solicitacoes.html">
                <p id="imovel">Apartamento</p>
                <p id="discri">Rua Jucelina Alemao 480, Pituba, Salvador</p>
        </td>
        <td>
            <p>20/12/2022</p>
        </td>
        <td>
            <p>Maria Conceição</p>
        </td>
        <td>
            <div class="but">Solicitado</div>
            </a>
    </tr>
    <tr>
        <td class="res">
            <a href="solicitacoes.html">
                <p id="imovel">Apartamento</p>
                <p id="discri">Rua Jucelina Alemao 480, Pituba, Salvador</p>
        </td>
        <td>
            <p>20/12/2022</p>
        </td>
        <td>
            <p>Maria Conceição</p>
        </td>
        <td>
            <div class="but">Solicitado</div>
            </a>
    </tr>
    <tr>
        <td class="res">
            <a href="solicitacoes.html">
                <p id="imovel">Apartamento</p>
                <p id="discri">Rua Jucelina Alemao 480, Pituba, Salvador</p>
        </td>
        <td>
            <p>20/12/2022</p>
        </td>
        <td>
            <p>Maria Conceição</p>
        </td>
        <td>
            <div class="but">Solicitado</div>
            </a>
    </tr>
    </tbody>
    </table>
    <script src="../../js/solicitacoes.js"></script>
</main>
</body>

</html>