<h1>ESPAÇO PARA UPLOAD DE IMGS ISOLADO</h1>
<form action="/corretor/cadImg" method="post" enctype="multipart/form-data">

<input type="file" name="images" id="inputFile" accept="image/*" multiple>
<button type="submit">Enviar Imagens</button>
</form>