body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.retorno.painel{
    padding-left: 40px;
    padding-top: 40px;
}

#hea {
    display: flex;
    align-items: baseline;
}

#geral {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.titulo input {
    border-radius: 16px;
}

.titulo select {
    border-radius: 16px;
}

.descr input {
    border-radius: 16px;
    width: 100%;
    height: 100px;
}

.descr {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width: 30%;
    height: 80%;
}

#iut {
    margin: 0;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


#as {
    width: 99%;
    height: 100%;
    border: none;
    white-space: pre-wrap;
}

#bot {
    display: flex;
    justify-content: space-between;
    width: 98%;
}

#bp {
    background-color: #9D0058;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 5px;
}

#can {
    text-align: start;
    border: none;
    border-radius: 16px;
    background-color: #D0D0D0;
    margin-left: 2%;
    padding: 5px;
}


.pre {
    border-color: black;
}

form {
    height: 100%;
    width: 100%;
}

/*imagem*/


input[type='file'] {
    display: none
}

.input-wrapper label {
    background-color: #9D0058;
    border-radius: 5px;
    color: #fff;
    padding: 6px 20px
}
.input-wrapper{
display: flex;
flex-direction: column;
}


#imagem {
    justify-self: center;
    align-items: center;
    position: relative;
    display: flex;
}

/*modal*/
/* Estilo para ocultar o modal por padrão */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo escuro semi-transparente */
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    /* Centraliza vertical e horizontalmente */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilo para o botão de fechar o modal */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* categoria*/
.btn-secondary {
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 36px;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: white;
    background-color: #9D0058;
}

.bord1 {
    background-color: #fae6e6 !important;
    color: #C80000 !important;
    border-radius: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.bord2 {
    background-color: #e6f3ec !important;
    color: #00833C !important;
    border-radius: 36px;
    margin-top: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.bord3 {
    background-color: #e6f2fa !important;
    color: #0080C8 !important;
    border-radius: 36px;
    margin-top: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.bord4 {
    background-color: #fcf4e6 !important;
    color: #DF9300 !important;
    border-radius: 36px;
    margin-top: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.bord5 {
    background-color: #ede6fc !important;
    color: #4700DF !important;
    border-radius: 36px;
    margin-top: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.bord6   {
    background-color: #fceee6 !important;
    color: #DF5000 !important;
    border-radius: 36px;
    margin-top: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}



.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

/* modal*/
  button {
    background-color: white;
    border: gray;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  #open-modal {
    background-color: #9D0058;
    color: white;
    border: none;
    padding: 5px;
  }
  
  button:hover {
    opacity: 1;
  }
  
  #fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
   filter: blur(3px);
  }
  
  #modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
  }
  
  #fade,
  #modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  
  .modal-body p {
    margin-bottom: 1rem;
  }
  
  #modal.hide,
  #fade.hide {
    opacity: 0;
    pointer-events: none;
  }
  
  #modal.hide {
    top: 0;
  }
  
.categoriaalinha{
    display: flex;
    flex-direction: column;
}
#alinhatudoc{
    display: flex;
    justify-content: space-around;
    width: 100%;
}