<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/Noticias/artigoNoticia.css">
    <title>Document</title>
</head>
<body>
<main>
    <div class="retorno"> 
        <a href="/">
            <iconify-icon icon="ep:arrow-left"></iconify-icon>
            Notícias/
        </a>
        <span>Artigo</span> 
    </div>

    <div class="img-noticia-artigo">
        <img src="../../../img/img-noticia-artigo.jpeg" alt="">
    </div>

    <section class="info-artigo">
        <div class="data-publicacao">
            <iconify-icon icon="lucide:calendar"></iconify-icon>
            <p class="data">14/08/2023</p>
        </div>
        <h2 class="titulo-noticia">
            Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam.
        </h2>
        <p class="descricao-artigo">
            Lorem ipsum dolor sit amet consectetur. 
            Eget curabitur nec sit et euismod diam commodo sed nullam. Lorem ipsum dolor sit amet consectetur. 
        </p>
        <hr class="linha-conteudo">
        
    </section>

    <section class="area-artigo">
    <article class="conteudo-artigo">
                Lorem ipsum dolor sit amet consectetur. Rutrum nam vel fames massa rutrum pharetra tellus tellus. 
                Tincidunt metus quisque nulla sem eu iaculis. Neque sagittis leo laoreet id nam duis morbi morbi.<br>
                Ut diam pellentesque tempor eget mauris etiam quisque sed lorem.
                Proin diam sem dui sit egestas amet pulvinar sed laoreet. Et fermentum tristique sed neque diam risus platea.
                Euismod est faucibus scelerisque nulla. Nunc accumsan tortor tempor pulvinar enim enim sed vitae.<br>
                Volutpat mauris sed netus dui aenean imperdiet.
                Magna proin placerat ullamcorper cras facilisis et amet leo dictumst. 
                Nibh ornare congue iaculis vitae amet aenean convallis mauris. 
                Posuere feugiat pellentesque nullam in sit pellentesque diam ipsum quam.<br>
                Habitasse scelerisque sit amet tristique cras nunc. Vitae orci sit auctor orci magna faucibus elit augue aliquam. 
                Purus facilisi velit et sit tellus. Viverra platea et vulputate egestas tortor volutpat auctor.
                Egestas lobortis in dictum pulvinar ut pharetra aliquam blandit nec.<br>
                Sagittis tincidunt proin feugiat viverra vitae cursus. Aliquam egestas integer et scelerisque. 
                Curabitur cursus vivamus faucibus consequat. Non proin mauris id euismod arcu euismod facilisis est. 
                Et eget facilisis adipiscing neque cursus phasellus lacus maecenas pellentesque. 
                Vulputate consectetur rhoncus ipsum fames. Iaculis eget ac morbi viverra et.<br>
                Lacus imperdiet non habitant egestas in facilisis aenean. Amet felis viverra pharetra arcu enim feugiat nunc. 
                Nisl ut eget et eget..
    </article>
    <div class="infos-noticia">
            <h4 class="origem-noticia">Publicado por: House&Lar</h4>
            <p class="autor-noticia">Escrito por: <span class="autor">Islania Silva</span></p>
    </div>
    </section>

    <div class="titulo-secao-noticias">
            <p>Outras notícias</p>
            <a href="/noticias">Ver tudo</a>
    </div>
    <section class="secao-noticias">

            <div class="card-noticia">

                <div class="img-noticia">
                    <img src="../../../img/img-noticia.png" alt="">
                </div>

                <div class="conteudo-card">

                <div class="dados-noticia">
                    <div class="categoria">
                        <p class="nome-categoria">Oportunidade Tenda</p>
                    </div>

                    <div class="data-publicacao">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        <p class="data">14/08/2023</p>
                    </div>
                </div>

                <div class="info-noticia">
                    <h4 class="titulo-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam.
                    </h4>
                    <p class="descricao-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam...
                    </p>
                </div>     

                <div class="btn-noticia">
                    <a href="/artigoNoticia" class="btn-ler-noticia" id="btn-ler-noticia">Ler Notícia <iconify-icon icon="ic:round-arrow-circle-right"></iconify-icon></a>
                </div> 

            </div>

            </div>
            <div class="card-noticia">

                <div class="img-noticia">
                    <img src="../../../img/img-noticia.png" alt="">
                </div>

                <div class="conteudo-card">

                <div class="dados-noticia">
                    <div class="categoria">
                        <p class="nome-categoria">Oportunidade Tenda</p>
                    </div>

                    <div class="data-publicacao">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        <p class="data">14/08/2023</p>
                    </div>
                </div>

                <div class="info-noticia">
                    <h4 class="titulo-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam.
                    </h4>
                    <p class="descricao-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam...
                    </p>
                </div>     

                <div class="btn-noticia">
                    <a href="/artigoNoticia" class="btn-ler-noticia" id="btn-ler-noticia">Ler Notícia <iconify-icon icon="ic:round-arrow-circle-right"></iconify-icon></a>
                </div> 

            </div>

            </div>
            <div class="card-noticia">

                <div class="img-noticia">
                    <img src="../../../img/img-noticia.png" alt="">
                </div>

                <div class="conteudo-card">

                <div class="dados-noticia">
                    <div class="categoria">
                        <p class="nome-categoria">Oportunidade Tenda</p>
                    </div>

                    <div class="data-publicacao">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        <p class="data">14/08/2023</p>
                    </div>
                </div>

                <div class="info-noticia">
                    <h4 class="titulo-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam.
                    </h4>
                    <p class="descricao-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam...
                    </p>
                </div>     

                <div class="btn-noticia">
                    <a href="/artigoNoticia" class="btn-ler-noticia" id="btn-ler-noticia">Ler Notícia <iconify-icon icon="ic:round-arrow-circle-right"></iconify-icon></a>
                </div> 

            </div>

            </div>

    </section>
</main>
</body>
</html>