<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/Noticias/publicarNoticia.css">
    <script type="text/javascript" src="../../js/publicarNoticia.js"></script>
    <title>publicar </title>
</head>

<body>

    <header>
        <div id="hea">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024">
                <g transform="rotate(-90 512 512)">
                    <path fill="currentColor"
                        d="M8.2 751.4c0 8.6 3.4 17.401 10 24.001c13.2 13.2 34.8 13.2 48 0l451.8-451.8l445.2 445.2c13.2 13.2 34.8 13.2 48 0s13.2-34.8 0-48L542 251.401c-13.2-13.2-34.8-13.2-48 0l-475.8 475.8c-6.8 6.8-10 15.4-10 24.2z" />
                </g>
            </svg>
            <h3>Notícias/Nova notícia</h3>
        </div>
    </header>

    <form action="/corretor/CadastrarNoticia" method="POST" enctype="multipart/form-data">
        <div id="geral">
            <div class="titulo">
                <label> Titulo Noticia</label>
                <input type="text" placeholder="Digite um titulo" class="pre" name="titulo_noticia">
            </div>

            <div class="titulo">
                <label> Autor</label>
                <input type="text" placeholder="Insira um autor..." class="pre" name="autor_noticia">
            </div>


            <div class="titulo">
                <select name="categoria" id="categoria">
                    <optgroup label="Categoria">
                        {{#each categorias}}
                            <option value="{{nome_categoria}}">{{nome_categoria}}</option>
                        {{/each}}
                    </optgroup>
                    <optgroup>
                        <a href="/corretor/cadastrarCategoria"><button>Nova Categoria</button></a>
                    </optgroup>
                </select>
                {{!-- <label> Categoria</label>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Selecionar Categoria
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item"> <a href="#" class="bord1">Oportunidade Tenda</a> </div>
                        <div class="dropdown-item"> <a href="#" class="bord2">Oportunidade Village</a> </div>
                        <div class="dropdown-item"> <button id="open-modal">Nova categoria</button> </div>
                    </div>
                </div> --}}
            </div>


        </div>


        <div id="geral">
            <div class="descr">
                <label> Descrição</label>
                <input type="text" id="des" placeholder="Escreva uma breve descrição..." name="descricao_noticia">

            </div>

            <div class="descr" id="imagem">
                <label>Imagem</label>
                <div class='input-wrapper'>
                    <label for='input-file'>
                        Selecionar um arquivo
                    </label>
                    <input id='input-file' name="imagem" type='file' onchange="mostrarNome(this.value)" />
                </div>
                <span id='file-name'></span>
            </div>
        </div>

        <hr>
        <div id="iut">
            <input type="text" id="as" placeholder="Escreva seu artigo aqui" name="artigo_noticia">
        </div>


        <div id="bot">
            <button id="can">
                cancelar
            </button>
            <button id="bp">
                Publicar
            </button>
        </div>


        <!-- MODAL -->
        <div id="fade" class="hide"></div>
        <d iv id="modal" class="hide">
            <div class="modal-header">
                <h2>Nova categoria</h2>
                <button id="close-modal"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                        viewBox="0 0 256 256">
                        <path fill="currentColor"
                            d="M208.49 191.51a12 12 0 0 1-17 17L128 145l-63.51 63.49a12 12 0 0 1-17-17L111 128L47.51 64.49a12 12 0 0 1 17-17L128 111l63.51-63.52a12 12 0 0 1 17 17L145 128Z" />
                    </svg></button>
            </div>
</form>
            <div class="modal-body">


                <form action="/corretor/cadastrarCategoria" method="post">
                    <div id="alinhatudoc">
                    <button type="submit">Cadastrar</button>
                        <div class="categoriaalinha">
                            <label>Nome Categoria</label>
                            <input type="text" placeholder="Nome da categoria" name="nomecategoria">
                        </div>

                        <div class="categoriaalinha">
                            <label>Cor da categoria</label>

                            <select name="corcategoria">
                                <option class="bord1" value="Vermelho">Vermelho</option>
                                <option class="bord2" value="Verde">Verde</option>
                                <option class="bord3" value="Azul">Azul</option>
                                <option class="bord4" value="Amarelo">Amarelo</option>
                                <option class="bord5" value="Roxo">Roxo</option>
                                <option class="bord6" value="Laranja">Laranja</option>
                            </select>

                        </div>
                    </div> 
                </form>
    

    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>