<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/Noticias/noticias.css">
    <title>Notícias</title>
</head>
<body>
    <main>
    <div class="retorno"> 
        <a href="/">
            <iconify-icon icon="ep:arrow-left"></iconify-icon>
            Página Inicial/
        </a>
        <span>Notícias</span> 
    </div>

    <div class="barra-titulo">
        <h2>Acompanhe as últimas notícias</h2>
        <button class="filtro-data" id="filtro-data">Filtre por data</button>
    </div>

    <section class="noticias" id="containerNoticias">
        <a href="/artigoNoticia">
             <div class="card-noticia">
            <div class="img-noticia">
                <img src="../../img/img-noticia.png" alt="">
            </div>

            <div class="conteudo-card">

                <div class="dados-noticia">
                    <div class="categoria">
                        <p class="nome-categoria">Oportunidade Tenda</p>
                    </div>

                    <div class="data-publicacao">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        <p class="data">14/08/2023</p>
                    </div>
                </div>

                <div class="info-noticia">
                    <h4 class="titulo-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam.
                    </h4>
                    <p class="descricao-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam...
                    </p>
                </div>     

                <div class="btn-noticia">
                    <a href="/artigoNoticia" class="btn-ler-noticia" id="btn-ler-noticia">Ler Notícia <iconify-icon icon="ic:round-arrow-circle-right"></iconify-icon></a>
                </div> 

            </div>

            </div>
        </a>

         <div class="card-noticia">
            <div class="img-noticia">
                <img src="../../img/img-noticia.png" alt="">
            </div>

            <div class="conteudo-card">
                
                <div class="dados-noticia">
                    <div class="categoria">
                        <p class="nome-categoria">Oportunidade Tenda</p>
                    </div>

                    <div class="data-publicacao">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        <p class="data">14/08/2023</p>
                    </div>
                </div>

                <div class="info-noticia">
                    <h4 class="titulo-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam.
                    </h4>
                    <p class="descricao-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam...
                    </p>
                </div>

                <div class="btn-noticia">
                     <a href="/artigoNoticia" class="btn-ler-noticia" id="btn-ler-noticia">Ler Notícia <iconify-icon icon="ic:round-arrow-circle-right"></iconify-icon></a></div>     

            </div>
        </div>
        <div class="card-noticia">
            <div class="img-noticia">
                <img src="../../img/img-noticia.png" alt="">
            </div>

            <div class="conteudo-card">

                <div class="dados-noticia">
                    <div class="categoria">
                        <p class="nome-categoria">Oportunidade Tenda</p>
                    </div>

                    <div class="data-publicacao">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        <p class="data">14/08/2023</p>
                    </div>
                </div>

                <div class="info-noticia">
                    <h4 class="titulo-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam.
                    </h4>
                    <p class="descricao-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam...
                    </p>
                </div>     

                <div class="btn-noticia">
                     <a href="/artigoNoticia" class="btn-ler-noticia" id="btn-ler-noticia">Ler Notícia <iconify-icon icon="ic:round-arrow-circle-right"></iconify-icon></a> </div> 

            </div>
        </div>
        <div class="card-noticia">
            <div class="img-noticia">
                <img src="../../img/img-noticia.png" alt="">
            </div>

            <div class="conteudo-card">
                
                <div class="dados-noticia">
                    <div class="categoria">
                        <p class="nome-categoria">Oportunidade Tenda</p>
                    </div>

                    <div class="data-publicacao">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        <p class="data">14/08/2023</p>
                    </div>
                </div>

                <div class="info-noticia">
                    <h4 class="titulo-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam.
                    </h4>
                    <p class="descricao-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam...
                    </p>
                </div>

                <div class="btn-noticia">
                     <a href="/artigoNoticia" class="btn-ler-noticia" id="btn-ler-noticia">Ler Notícia <iconify-icon icon="ic:round-arrow-circle-right"></iconify-icon></a></div>     

            </div>
        </div>
        <div class="card-noticia">
            <div class="img-noticia">
                <img src="../../img/img-noticia.png" alt="">
            </div>

            <div class="conteudo-card">
                
                <div class="dados-noticia">
                    <div class="categoria">
                        <p class="nome-categoria">Oportunidade Tenda</p>
                    </div>

                    <div class="data-publicacao">
                        <iconify-icon icon="lucide:calendar"></iconify-icon>
                        <p class="data">14/08/2023</p>
                    </div>
                </div>

                <div class="info-noticia">
                    <h4 class="titulo-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam.
                    </h4>
                    <p class="descricao-noticia">
                        Lorem ipsum dolor sit amet consectetur. Eget curabitur nec sit et euismod diam commodo sed nullam...
                    </p>
                </div>

                <div class="btn-noticia">
                     <a href="/artigoNoticia" class="btn-ler-noticia" id="btn-ler-noticia">Ler Notícia <iconify-icon icon="ic:round-arrow-circle-right"></iconify-icon></a></div>     

            </div>
        </div>
    </section>

    <nav class="nav-paginacao">
        <ul class="paginacao">
            <li class="voltar-pagina"><iconify-icon icon="ep:arrow-left"></iconify-icon></li>
            <li class="index-paginacao"> 
                <a>1</a>
            </li>
            <li class="index-paginacao"> 
                <a>2</a>
            </li>
            <li class="index-paginacao"> 
                <a>3</a>
            </li>
            <li class="index-paginacao"> 
                <a>4</a>
            </li>
            <li class="index-paginacao"> 
                <a>5</a>
            </li>

            <li class="avançar-pagina"><iconify-icon icon="ep:arrow-right"></iconify-icon></li>
        </ul>
    </nav>

</main>
<script src="../../../js/noticias.js"></script>
</body>
</html>


