<link rel="stylesheet" href="../../css/Noticias/publicarNoticia.css">
<script type="text/javascript" src="../../js/publicarNoticia.js"></script>


<div class="retorno painel">
    <a href="/corretor/noticiasCorretor">
        <iconify-icon icon="ep:arrow-left"></iconify-icon>
        Notícias/
    </a>
    <span>Publicar Notícia</span>
</div>


<form action="/corretor/cadastarNoticia" method="POST">
    <div class="headerForm">
        <div class="rowForm">
            <div class="labelForm">
                <label for="titulo">Título Notícia</label>
                <input type="text" placeholder="Digite um título..." id="titulo" name="titulo">
            </div>
            <div class="labelForm">
                <label for="autor">Autor</label>
                <input type="text" placeholder="Digite um título..." id="autor" name="autor">
            </div>
            <div class="labelForm">
                <label for="cateogira">Categoria</label>
                <select name="categoria" id="categoria"></select>
            </div>
        </div>
        <div class="rowForm">

        </div>
    </div>
    <div class="bodyForm">

    </div>

</form>







{{!-- <div id="fade" class="hide"></div>
<d iv id="modal" class="hide">
    <div class="modal-header">
        <h2>Nova categoria</h2>
        <button id="close-modal"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 256 256">
                <path fill="currentColor"
                    d="M208.49 191.51a12 12 0 0 1-17 17L128 145l-63.51 63.49a12 12 0 0 1-17-17L111 128L47.51 64.49a12 12 0 0 1 17-17L128 111l63.51-63.52a12 12 0 0 1 17 17L145 128Z" />
            </svg></button>
    </div>

    <div class="modal-body">
        <form action="/corretor/cadastrarCategoria" method="post">
            <div id="alinhatudoc">
                <button type="submit">Cadastrar</button>
                <div class="categoriaalinha">
                    <label>Nome Categoria</label>
                    <input type="text" placeholder="Nome da categoria" name="nome_categoria">
                </div>

                <div class="categoriaalinha">
                    <label>Cor da categoria</label>

                    <select name="cor_categoria">
                        <option class="bord1" value="Vermelho">Vermelho</option>
                        <option class="bord2" value="Verde">Verde</option>
                        <option class="bord3" value="Azul">Azul</option>
                        <option class="bord4" value="Amarelo">Amarelo</option>
                        <option class="bord5" value="Roxo">Roxo</option>
                        <option class="bord6" value="Laranja">Laranja</option>
                    </select>

                </div>
            </div>
        </form> --}}