<link rel="stylesheet" href="../../css/Noticias/publicarNoticia.css">
<script type="text/javascript" src="../../js/publicarNoticia.js"></script>


<div class="retorno painel">
    <a href="/corretor/noticiasCorretor">
        <iconify-icon icon="ep:arrow-left"></iconify-icon>
        Notícias/
    </a>
    <span>Publicar Notícia</span>
</div>


<form action="/corretor/cadastarNoticia" method="POST">
    <div class="headerForm">
        <div class="rowForm">
            <div class="labelForm">
                <label for="titulo">Título Notícia</label>
                <input type="text" placeholder="Digite um título..." id="titulo" name="titulo">
            </div>
            <div class="labelForm">
                <label for="autor">Autor</label>
                <input type="text" placeholder="Insira um autor..." id="autor" name="autor">
            </div>
            <div class="labelForm">
                <p>Categoria</p>
                <div class="areaDrop">
                    <div class="dropdown">
                        <div class="mainDrop">
                            <div class="optionMain">
                                Oportunidade Tenda
                            </div>
                            <iconify-icon icon="ep:arrow-down"></iconify-icon>
                        </div>
                        <div class="bodyDrop">
                            <div class="optionDrop">
                                Oportunidade Tenda
                            </div>
                            <div class="optionDrop">
                                Oportunidade Tenda
                            </div>
                            <div class="optionDrop">
                                Oportunidade Tenda
                            </div>
                            <div class="optionDrop">
                                Oportunidade Tenda
                            </div>
                            <div class="optionDrop">
                                Oportunidade Tenda
                            </div>
                            <div class="optionDrop">
                                Oportunidade Tenda
                            </div>
                            <div class="optionDrop">
                                Oportunidade Tenda
                            </div>
                            <div class="optionDrop">
                                Oportunidade Tenda
                            </div>

                        </div>

                    </div>


                    <button type="button" class="addCategoria">
                        <iconify-icon icon="mingcute:add-line"></iconify-icon>
                    </button>
                </div>
                <input type="text" id="valueSelect" hidden>
            </div>
        </div>
        <div class="rowForm">
            <div class="labelForm">
                <label for="descricao">Descrição</label>
                <textarea placeholder="Escreva uma breve descrição..." id="titulo" name="titulo"></textarea>
            </div>
            <div class="labelForm">
                <p>Imagem</p>
                <div class="inputArea">
                    <label for="inputImg" class="labelInput">
                        <iconify-icon icon="material-symbols:upload"></iconify-icon>
                        Escolher Imagem
                    </label>
                    <input type="file" id="inputImg" name="imagem" accept="image/*">
                </div>
            </div>
        </div>
    </div>
    <div class="bodyForm">
        <textarea name="artigo" id="artigo" cols="30" rows="10" placeholder="Escreva seu artigo aqui..."></textarea>
    </div>
    <div class="footer">
        <div class="btnsFooter">
            <button class="btnCancelar" type="reset">Cancelar</button>
            <button class="btnPublicar" type="submit">Publicar</button>
        </div>
    </div>
</form>


<div class="containerModal">
    <div class="conteudoModal">
        <div class="headerModal">
            <div class="text">
                <h2>Nova Categoria</h2>
                <p>Adicione uma nova categoria de notícias. Priorize nomes mais curtos.</p>
            </div>
            <button type="button">
                <iconify-icon icon="mdi:remove"></iconify-icon>
            </button>
        </div>
        <div class="bodyModal">
            <div class="inputModal">
                <label for="nomeCategoria">Nome categoria</label>
                <input type="text" name="nomeCategoria" id="nomeCategoria" placeholder="Digite o nome da categoria...">
            </div>
            <div class="inputModal">
                <p>Cor da categoria</p>
            
            <div class="dropdownModal">
                <div class="mainDropModal">
                    <div class="optionMainModal">
                        Oportunidade Tenda
                    </div>
                    <iconify-icon icon="ep:arrow-down"></iconify-icon>
                </div>
                <div class="bodyDropModal">
                    <div class="optionDropModal" data-cor="Red">
                        Vermelho
                    </div>
                    <div class="optionDropModal" data-cor="Azul">
                        Azul
                    </div>
                    <div class="optionDropModal" data-cor="Verde">
                        Verde
                    </div>
                    <div class="optionDropModal" data-cor="Amarelo">
                        Amarelo
                    </div>
                    <div class="optionDropModal" data-cor="Roxo">
                        Roxo
                    </div>
                    <div class="optionDropModal" data-cor="Laranja">
                        Laranja
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="btnModal">
            <button type="button">
                <iconify-icon icon="uil:save"></iconify-icon>
                Salvar
            </button>
        </div>
    </div>
</div>